@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&family=Nanum+Gothic&family=Montserrat&family=Noto+Sans+KRdisplay=swap");
* {
  margin: 0px;
  padding: 0px;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table, td, th {
  border-collapse: collapse;
}

fieldset {
  border: none;
}

input, a, button {
  outline: 1;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

#header {
  width: 100%;
}
#header .header-upper {
  width: 100%;
}
#header .header-upper > .inner {
  width: 1180px;
  height: 36px;
  margin: 0 auto;
  position: relative;
  background-color: #18278c;
}
#header .header-upper > .inner a {
  display: inline-block;
  padding: 10px 0 10px 20px;
  box-sizing: border-box;
  font-family: "arial";
  font-size: 12px;
  color: #d0d3d4;
  letter-spacing: 1.5px;
  text-align: left;
}
#header .header-upper > .inner a:last-child {
  padding: 10px 0;
}
#header .header-lower {
  width: 100%;
  z-index: 2;
}
#header .header-lower > .inner {
  width: 1180px;
  height: 160px;
  margin: 0 auto;
  position: relative;
}
#header .header-lower > .inner h1 {
  position: absolute;
  top: 100px;
  left: 10px;
}
#header .header-lower > .inner h1 a {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 33px;
  font-weight: 500;
  color: #18278c;
  letter-spacing: 0.25em;
}
#header .header-lower > .inner #gnb {
  position: absolute;
  bottom: 0;
  right: 0;
}
#header .header-lower > .inner #gnb::after {
  content: "";
  display: block;
  clear: both;
}
#header .header-lower > .inner #gnb > li {
  float: left;
}
#header .header-lower > .inner #gnb > li > a {
  display: block;
  padding: 0 40px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #18278c;
  line-height: 40px;
  letter-spacing: 0.15em;
  text-align: center;
}
#header .header-lower > .inner #gnb > li > a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #333;
}
#header .header-lower > .inner #gnb > li > a:hover::after, #header .header-lower > .inner #gnb > li > a.on::after {
  width: 25px;
  transition: 0.5s;
}
#header .header-lower > .inner #gnb > li .sub {
  position: absolute;
  width: 1180px;
  height: 358px;
  right: 0;
  top: 43px;
  font-size: 30px;
  background: #f8f8f8;
  display: none;
}
#header .header-lower > .inner #gnb > li .sub::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  position: absolute;
  top: 0;
  left: -100%;
}
#header .header-lower > .inner #gnb > li .sub::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  position: absolute;
  top: 0;
  right: -100%;
}
#header .header-lower > .inner #gnb > li .sub .left {
  width: 40%;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: darkslategrey;
  transition: 0.5s;
}
#header .header-lower > .inner #gnb > li .sub .left h2 {
  margin: 0 0 20px;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: floralwhite;
  letter-spacing: 0.15em;
  text-align: right;
}
#header .header-lower > .inner #gnb > li .sub .left ul {
  text-align: right;
}
#header .header-lower > .inner #gnb > li .sub .left ul li {
  width: 170px;
}
#header .header-lower > .inner #gnb > li .sub .left ul li a {
  padding: 0 0 0 10px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: salmon;
  letter-spacing: 0.25em;
}
#header .header-lower > .inner #gnb > li .sub .left ul li a::before {
  content: "";
  margin: 3px 10px 3px 0;
  width: 5px;
  height: 5px;
  background: khaki;
  display: none;
}
#header .header-lower > .inner #gnb > li .sub .left ul li a:hover::before {
  display: inline-block;
}
#header .header-lower > .inner #gnb > li .sub .right {
  width: 60%;
  height: 300px;
  padding: 30px 60px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between;
  flex-wrap: wrap;
}
#header .header-lower > .inner #gnb > li .sub .right article .box {
  width: 10px;
  height: 10vmax;
  background: antiquewhite;
  margin: 0 0 20px;
}
#header .header-lower > .inner #gnb > li .sub .right article h2 {
  font: bold 16px/1 "arial";
  color: #333;
  margin: 0 0 10px;
}
#header .header-lower > .inner #gnb > li .sub .right article p {
  font: 14px/1.2 "arial";
  color: #333;
}
#header .header-lower > .inner #gnb > li .sub .right article .sub-img {
  width: 200px;
  height: 10vmax;
  border: 2px solid darkslategrey;
}
#header .header-lower > .inner .util {
  position: absolute;
  top: 0px;
  right: 5px;
}
#header .header-lower > .inner .util a {
  display: inline-block;
  padding: 7px;
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
}
#header .header-lower > .inner .util a span {
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  vertical-align: middle;
}
#header .header-lower > .inner .util a:hover {
  color: #000;
}

.content {
  width: 100%;
  padding: 10px 0 100px;
  box-sizing: border-box;
}
.content .sub-breadcrumb {
  width: 1180px;
  margin: 0 auto;
  padding: 50px 20px 10px;
  box-sizing: border-box;
}
.content .sub-breadcrumb li {
  display: inline;
}
.content .sub-breadcrumb li a {
  font-family: "Lato";
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.content .sub-breadcrumb li + li::before {
  content: "/";
  padding: 10px 8px 10px 6px;
}
.content .sub-visual {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  height: 270px;
  margin: 0 0 20px;
  background: url(../img/image7.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.content .sub-visual .sub-content {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.content .sub-visual .sub-content h1 {
  font-family: "Lato";
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0.15em;
  color: #000;
  padding: 0 0 20px;
  box-sizing: border-box;
}
.content .sub-visual .sub-content p {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #555;
}
.content > .inner {
  width: 1180px;
  margin: 0 auto;
  min-height: 500px;
  padding: 100px 0 60px;
  box-sizing: border-box;
}
.content > .inner .slash::after {
  content: "/";
  display: inline-block;
  margin: 0 0 10px 20px;
}

#footer {
  width: 100%;
  padding: 40px 0 0;
  box-sizing: border-box;
  background-color: #f8f3f2;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner .footer-upper {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}
#footer .inner .footer-upper .wrap {
  width: 100%;
}
#footer .inner .footer-upper .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner .footer-upper .wrap dl {
  float: left;
  width: 25%;
}
#footer .inner .footer-upper .wrap dl dt {
  margin-bottom: 10px;
}
#footer .inner .footer-upper .wrap dl dt a {
  font: bold 16px/1 "Josefin Sans";
  color: #18288d;
}
#footer .inner .footer-upper .wrap dl dd {
  margin-bottom: 5px;
}
#footer .inner .footer-upper .wrap dl dd a {
  font: 14px/1 "Lato";
  color: rgba(24, 40, 141, 0.6);
}
#footer .inner .footer-upper .wrap dl dd a:hover {
  color: #18288d;
}
#footer .inner .footer-lower {
  width: 100%;
  height: 80px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
#footer .inner .footer-lower h1 {
  position: absolute;
  top: 10px;
  left: 10px;
}
#footer .inner .footer-lower h1 a {
  font: 28px/1 "Lato";
  color: #2c0e7c;
}
#footer .inner .footer-lower .contact {
  position: absolute;
  top: -30px;
  right: 40px;
  text-align: right;
}
#footer .inner .footer-lower .contact .footer-sns a {
  display: inline-block;
  font-size: 22px;
  color: #999;
  margin-bottom: 10px;
  margin-left: 12px;
}
#footer .inner .footer-lower .contact .footer-sns a:hover {
  color: #18278c;
}
#footer .inner .footer-lower .contact p {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #999;
}

.community .sub-visual {
  background: url(../img/image43.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.community .inner h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #18278c;
  margin: 40px 20px;
}
.community .inner h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  margin: 0 0 20px;
}
.community .inner p {
  margin: 0 0 20px;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  color: #18278c;
  color: #333;
  line-height: 20px;
}
.community .inner article {
  padding: 50px 0 120px 330px;
  box-sizing: border-box;
  position: relative;
}
.community .inner article h1 {
  position: absolute;
  top: 0;
  left: 10px;
}
.community .inner article::after {
  content: "";
  display: block;
  clear: both;
}
.community .inner article .event {
  float: left;
  width: 260px;
  margin: 120px 0 0 20px;
  border: 1px solid #cdcdcd;
  position: relative;
  overflow: hidden;
}
.community .inner article .event:last-child {
  margin-right: 0;
}
.community .inner article .event a .img {
  width: 280px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}
.community .inner article .event a .img:hover {
  transform: translateX(-20px);
}
.community .inner article .event a .event1 {
  background-image: url(../img/image11.jpeg);
}
.community .inner article .event a .event2 {
  background-image: url(../img/image15.jpeg);
}
.community .inner article .event a .event3 {
  background-image: url(../img/image12.jpeg);
}
.community .inner article .event .event-title {
  padding: 20px;
  box-sizing: border-box;
}
.community .inner article .event .event-title strong {
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  color: #333;
}
.community .inner article .event .event-title span a {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #18278c;
}
.community .inner article .event .event-info {
  padding: 20px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  color: #333;
}
.community .inner article .event .event-info .info-tit {
  display: inline-block;
  width: 52px;
  color: #555;
}
.community .inner .sub-menu {
  padding: 10px;
  box-sizing: border-box;
}
.community .inner .sub-menu::after {
  content: "";
  display: block;
  clear: both;
}
.community .inner .sub-menu li {
  float: right;
  padding: 10px 20px;
  box-sizing: border-box;
}
.community .inner .sub-menu li a {
  font-size: 14px;
  color: #000;
}
.community .inner .sub-menu li a:hover {
  font-weight: bold;
}
.community .inner table {
  width: 100%;
  margin-bottom: 60px;
}
.community .inner table th:nth-child(1) {
  width: 10%;
}
.community .inner table th:nth-child(2) {
  width: 10%;
}
.community .inner table th:nth-child(3) {
  width: 60%;
}
.community .inner table th:nth-child(4) {
  width: 15%;
}
.community .inner table th:nth-child(5) {
  width: 5%;
}
.community .inner table tr {
  border-bottom: 1px solid #ccc;
}
.community .inner table tr:last-child {
  border-bottom: 0;
}
.community .inner table tr:hover td {
  background-color: #fff;
}
.community .inner table tr:first-child:hover td {
  border-top: 1px solid #ccc;
}
.community .inner table tr:last-child:hover td {
  border-bottom: 1px solid #ccc;
}
.community .inner table td {
  padding: 20px 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f8f8f8;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}
.community .inner table td:nth-child(2) span {
  padding: 4px 10px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #777;
  border-radius: 20px;
}
.community .inner table td:nth-child(2) .black {
  background-color: #000;
  color: #fff;
}
.community .inner table td:nth-child(3) {
  text-align: left;
}
.community .inner table td:nth-child(3) a {
  font-size: 14px;
  color: #777;
}
.community .inner table td:nth-child(3):hover a {
  color: #000;
}
.community .inner table td:nth-child(5) a {
  font-size: 20px;
  color: #000;
}
.community .inner table td:nth-child(5) a:hover {
  color: #999;
}
.community .inner #pagination {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.community .inner #pagination .page-home {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #000;
}
.community .inner #pagination .page-prev {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #000;
}
.community .inner #pagination .numbers {
  display: inline-block;
}
.community .inner #pagination .numbers a {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
  color: #777;
}
.community .inner #pagination .numbers a:hover {
  font-weight: bold;
  color: #000;
}
.community .inner #pagination .page-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #000;
}
.community .inner #pagination .page-end {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: #000;
}

@media screen and (max-width: 1179px) {
  .community .inner {
    width: 100%;
  }
  .community .inner article {
    padding: 0 0 110px;
  }
  .community .inner article .event {
    width: 30%;
  }
  .community .inner article .event .event-title {
    padding: 10px;
  }
  .community .inner article .event .event-title strong {
    margin: 0 0 15px;
    font-size: 14px;
  }
  .community .inner article .event .event-title span a {
    font-size: 14px;
  }
  .community .inner article .event .event-info {
    padding: 10px;
    box-sizing: border-box;
  }
  .community .inner article .event .event-info .info-tit {
    display: block;
    margin: 15px 0 3px 0;
    font-weight: 600;
  }
  .community .inner table {
    width: 90%;
    margin-left: 5%;
  }
  .community .inner table td:nth-child(2) {
    display: none;
  }
  .community .inner table td:nth-child(5) {
    display: none;
  }
}
.youtube .sub-visual {
  background: url(../img/image46.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.youtube .inner #vidGallery {
  width: 100%;
}
.youtube .inner #vidGallery::after {
  content: "";
  display: block;
  clear: both;
}
.youtube .inner #vidGallery article {
  float: left;
  width: 380px;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  margin-right: 20px;
  padding: 30px 30px 100px;
  position: relative;
}
.youtube .inner #vidGallery article:nth-child(3n) {
  margin-right: 0;
}
.youtube .inner #vidGallery article::after {
  content: "";
  display: block;
  clear: both;
}
.youtube .inner #vidGallery article .pic {
  display: block;
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
.youtube .inner #vidGallery article .con {
  box-sizing: border-box;
  padding-left: 20px;
}
.youtube .inner #vidGallery article .con::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #2c0e7c;
  margin-bottom: 20px;
}
.youtube .inner #vidGallery article .con h2 {
  font: bold 13px/1 "Lato";
  color: #1c4662;
  letter-spacing: 1.1px;
  margin-bottom: 20px;
}
.youtube .inner #vidGallery article .con p {
  font: 11px/1 "Lato";
  color: rgba(28, 70, 98, 0.8);
  letter-spacing: 1.1px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1179px) {
  .youtube .inner {
    width: 100%;
  }
  .youtube .inner #vidGallery {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
  }
  .youtube .inner #vidGallery article {
    border-bottom: none;
    margin: 0 auto;
    width: 45%;
  }
  .youtube .inner #vidGallery article .pic {
    width: 90%;
    height: 160px;
    margin: 0 auto 10px;
  }
  .youtube .inner #vidGallery article .con {
    width: 80%;
    padding: 10px 15px;
  }
  .youtube .inner #vidGallery article .con h2 {
    font-size: 17px;
  }
  .youtube .inner #vidGallery article .con p {
    font-size: 14px;
    font-weight: 600;
  }
  .youtube .inner #vidGallery article:last-child {
    display: none;
  }
}
@media screen and (max-width: 859px) {
  .youtube .inner #vidGallery article {
    width: 100%;
    display: flex;
  }
  .youtube .inner #vidGallery article .pic {
    margin: 0 20px 0 0;
  }
  .youtube .inner #vidGallery article .con {
    width: 60%;
  }
  .youtube .inner #vidGallery article .con h2 {
    font-size: 15px;
  }
  .youtube .inner #vidGallery article .con p {
    font-size: 13px;
  }
}
.gallery .sub-visual {
  background: url(../img/image5.jpeg);
  background-position: center;
  background-size: cover;
}
.gallery #search {
  width: 795px;
  margin: 0 auto;
  z-index: 2;
}
.gallery #search input[type=text] {
  width: 630px;
  height: 40px;
  background: #fff;
  border: 1px solid #a9cce3;
  margin-right: 14px;
  padding: 5px 10px;
  box-sizing: border-box;
  color: #2471a3;
}
.gallery #search input[type=text]::placeholder {
  color: #a9cce3;
}
.gallery #search input[type=text]:focus {
  outline: 1px solid #2471a3;
}
.gallery #search button {
  width: 144px;
  height: 40px;
  background: #2471a3;
  font: bold 13px/40px "arial";
  color: #fff;
  text-align: center;
  border: 1px solid #2471a3;
  border-radius: 4px;
  cursor: pointer;
}
.gallery #search button:hover {
  background: #1f618d;
}
.gallery > .inner h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #18278c;
  margin: 40px 20px;
}
.gallery > .inner h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  margin: 0 0 20px;
}
.gallery > .inner p {
  margin: 0 0 20px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #18278c;
  color: #333;
  line-height: 20px;
}
.gallery > .inner article {
  padding: 0 0 90px;
  box-sizing: border-box;
}
.gallery > .inner article::after {
  content: "";
  display: block;
  clear: both;
}
.gallery > .inner article li {
  position: relative;
  float: left;
  width: 280px;
  margin-right: 20px;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}
.gallery > .inner article li:last-child {
  margin-right: 0;
}
.gallery > .inner article li .order {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  font-family: "Josefin Sans, sans-serif";
  font-size: 12px;
  font-weight: 600;
  color: #18278c;
  line-height: 20px;
  text-align: center;
  background: #fff;
  border: 1px solid #18278c;
}
.gallery > .inner article li img {
  display: block;
  width: 80%;
  height: 150px;
  margin: 20px auto;
}
.gallery > .inner article li span {
  display: block;
  margin: 0 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.gallery > .inner article li p {
  font-size: 12px;
  color: #18278c;
}
.gallery > .inner #wrap #gallery {
  width: 100%;
  padding: 90px 180px;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(200px);
  transition: 1s;
  background: #f8f9f9;
}
.gallery > .inner #wrap #gallery.on {
  opacity: 1;
  transform: translateY(0px);
}
.gallery > .inner #wrap #gallery > ul {
  width: 100%;
}
.gallery > .inner #wrap #gallery > ul::after {
  content: "";
  display: block;
  clear: both;
}
.gallery > .inner #wrap #gallery > ul > li {
  width: 20%;
  float: left;
  overflow: hidden;
}
.gallery > .inner #wrap #gallery > ul > li .inner {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
.gallery > .inner #wrap #gallery > ul > li .inner a {
  display: block;
}
.gallery > .inner #wrap #gallery > ul > li .inner a img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}
.gallery > .inner #wrap #gallery > ul > li .inner p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: bold 13px/1 "Lato";
  color: #154360;
  opacity: 0;
  transition: 0.8s;
}
.gallery > .inner #wrap #gallery > ul > li .inner:hover > a {
  opacity: 0.3;
}
.gallery > .inner #wrap #gallery > ul > li .inner:hover p {
  opacity: 1;
}

@media screen and (max-width: 1179px) {
  .gallery > .inner {
    width: 100%;
  }
  .gallery > .inner article {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery > .inner article ul {
    padding: 0 0 0 11%;
    box-sizing: border-box;
  }
  .gallery > .inner article ul h1 {
    width: 100%;
  }
  .gallery > .inner article ul li {
    background: #f8f8f8;
    width: 40%;
    margin: 0 7% 7% 0;
  }
  .gallery > .inner article ul li:nth-child(2), .gallery > .inner article ul li:nth-child(4) {
    margin-right: 0;
  }
  .gallery > .inner article ul li .order {
    display: none;
  }
  .gallery > .inner article ul li img {
    display: block;
    width: 130px;
    height: 140px;
    margin: 30px auto;
  }
  .gallery > .inner article ul li span {
    font-size: 15px;
  }
  .gallery > .inner article ul li p {
    width: 50%;
    margin: 0 auto 20px;
    font-size: 13px;
    color: #18278c;
  }
  .gallery > .inner #wrap #gallery {
    padding: 30px 0 0 11%;
    background: #fff;
  }
  .gallery > .inner #wrap #gallery > ul {
    width: 90%;
  }
  .gallery > .inner #wrap #gallery > ul > li {
    width: 33.333%;
  }
  .gallery > .inner #wrap #gallery > ul > li:last-child {
    display: none;
  }
  .gallery > .inner #wrap #gallery > ul > li .inner {
    padding: 10%;
  }
}
.join .sub-visual {
  background: url(../img/image37.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.join .inner h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #18278c;
  margin: 40px 20px;
}
.join .inner fieldset {
  padding: 30px;
  box-sizing: border-box;
}
.join .inner fieldset h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  margin: 0 0 20px;
}
.join .inner fieldset textarea {
  width: 100%;
  height: 150px;
  padding: 10px 30px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #797979;
  background: #efefef;
  border: 1px solid #dedede;
}
.join .inner fieldset .agree {
  line-height: 30px;
  margin: 20px 0 80px;
}
.join .inner fieldset .agree span {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #18278c;
  line-height: 1;
}
.join .inner fieldset .agree > input[type=checkbox] {
  display: inline-block;
  margin: 0 7px;
  vertical-align: middle;
  cursor: pointer;
}
.join .inner fieldset table {
  width: 100%;
  border-collapse: collapse;
}
.join .inner fieldset table tr {
  border-bottom: 1px solid #dedede;
}
.join .inner fieldset table tr:last-child {
  border: none;
}
.join .inner fieldset table tr th {
  width: 20%;
  text-align: left;
  padding: 20px 40px;
}
.join .inner fieldset table tr th label {
  display: block;
  width: 100%;
  font-family: "Noto Sans";
  font-size: 13px;
  font-weight: 400;
  color: #18278c;
}
.join .inner fieldset table tr td {
  padding: 20px 40px;
}
.join .inner fieldset table tr td input {
  width: 52%;
  height: 30px;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  color: #797979;
  border: 1px solid #dedede;
}
.join .inner fieldset table tr td input::placeholder {
  color: #bcbcbc;
}
.join .inner fieldset table tr td p {
  font-size: 12px;
  color: #797979;
  margin: 10px 10px 0;
}
.join .inner fieldset table tr.birth {
  font-size: 0;
}
.join .inner fieldset table tr.birth input {
  width: 15%;
}
.join .inner fieldset table tr.birth select {
  width: 10%;
  height: 30px;
  font-family: "Lato";
  font-size: 12px;
  color: #797979;
  border: 1px solid #dedede;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
.join .inner fieldset table tr.phone select {
  width: 80px;
  height: 30px;
  padding: 0 3px;
  box-sizing: border-box;
  font-family: "Lato";
  font-size: 11px;
  color: #18278c;
  border: 1px solid #dedede;
  cursor: pointer;
}
.join .inner fieldset table tr.phone input {
  display: inline-block;
  width: 80px;
}
.join .inner fieldset table tr.phone a {
  display: inline-block;
  width: 50px;
  height: 27px;
  font-family: "Lato";
  font-size: 10px;
  line-height: 27px;
  color: #fff;
  text-align: center;
  background: #18278c;
  border: 1px solid #18278c;
}
.join .inner fieldset table tr.phone a:hover {
  color: #18278c;
  background: #fff;
}
.join .inner fieldset table tr.accept th {
  font-family: "Noto Sans";
  font-size: 13px;
  font-weight: 400;
  color: #18278c;
}
.join .inner fieldset table tr.accept label {
  display: block;
  font-family: "Lato";
  font-size: 12px;
  color: #18278c;
  opacity: 1;
}
.join .inner fieldset table tr.accept label input[type=checkbox] {
  width: 12px;
  height: 12px;
  margin: 10px;
  cursor: pointer;
}
.join .inner fieldset table tr.join-submit th {
  text-align: center;
}
.join .inner fieldset table tr.join-submit th input {
  display: inline-block;
  width: 100px;
  margin: 20px 10px 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #18278c;
  background: #fff;
  border: none;
  border: 1px solid #18278c;
  cursor: pointer;
  transition: 0.5s;
}
.join .inner fieldset table tr.join-submit th input:hover {
  color: #fff;
  background: #18278c;
}

.department .sub-visual {
  background: url(../img/image7.jpeg);
  background-position: center;
  background-size: cover;
}
.department .inner h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #18278c;
  margin: 40px 20px;
}
.department .inner h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  margin: 0 0 20px;
}
.department .inner p {
  margin: 0 0 20px;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  color: #18278c;
  color: #333;
  line-height: 20px;
}
.department .inner article {
  margin: 0 0 90px;
  box-sizing: border-box;
}
.department .inner article::after {
  content: "";
  display: block;
  clear: both;
}
.department .inner article .left {
  float: left;
  width: 580px;
  height: 275px;
  padding: 30px 20px;
  box-sizing: border-box;
  position: relative;
}
.department .inner article .left .box {
  width: 270px;
  height: 170px;
  background: khaki;
  position: absolute;
  top: 50px;
  left: 175px;
}
.department .inner article .left .box2 {
  width: 170px;
  height: 135px;
  background: darkslategrey;
  position: absolute;
  top: 125px;
  right: 65px;
}
.department .inner article .left h2 {
  position: absolute;
  top: 30px;
  left: 140px;
}
.department .inner article .right {
  float: right;
  width: 580px;
  padding: 30px;
  box-sizing: border-box;
}
.department .inner article .right h2 {
  color: #18278c;
}
.department .inner .division {
  width: 100%;
  padding: 60px 0;
}
.department .inner .division .div-tree {
  position: relative;
  text-align: center;
}
.department .inner .division .div-tree .depth1 {
  position: relative;
  padding: 30px 0;
  box-sizing: border-box;
}
.department .inner .division .div-tree .depth1 .ceo {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border: 1px solid #18278c;
  border-radius: 50%;
}
.department .inner .division .div-tree .depth1 .ceo::before {
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  position: absolute;
  top: 162px;
  left: 50%;
  transform: translateX(-50%);
  background: #18278c;
}
.department .inner .division .div-tree .depth1 .ceo dl {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #18278c;
  line-height: 130px;
}
.department .inner .division .div-tree .depth1 .ceo dl dd {
  line-height: 1;
}
.department .inner .division .div-tree .depth2 {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}
.department .inner .division .div-tree .depth2::before {
  content: "";
  display: block;
  width: 870px;
  height: 1px;
  position: absolute;
  top: 20px;
  left: 155px;
  background: #18278c;
}
.department .inner .division .div-tree .depth2::after {
  content: "";
  display: block;
  clear: both;
}
.department .inner .division .div-tree .depth2 ul {
  float: left;
  width: 270px;
  margin-right: 20px;
}
.department .inner .division .div-tree .depth2 ul:last-child {
  margin-right: 0;
}
.department .inner .division .div-tree .depth2 ul::before {
  content: "";
  display: block;
  width: 1px;
  height: 35px;
  margin: 0 auto;
  background: #18278c;
}
.department .inner .division .div-tree .depth2 ul li {
  width: 80%;
  margin: 10px auto;
  text-align: left;
  border-bottom: 1px solid #18278c;
}
.department .inner .division .div-tree .depth2 ul li span {
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  color: #18278c;
  line-height: 30px;
}
.department .inner .division .div-tree .depth2 ul li strong {
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 11px;
  color: #18278c;
  line-height: 30px;
  text-align: right;
}
.department .inner .division .div-tree .depth2 ul li:first-child {
  width: 100%;
  margin: 0 0 20px;
  font-weight: 600;
  color: #18278c;
  line-height: 50px;
  text-align: center;
  border: none;
}

@media screen and (max-width: 1179px) {
  .department .inner {
    width: 100%;
  }
  .department .inner article .left .box {
    width: 220px;
    height: 150px;
  }
  .department .inner article .left .box2 {
    width: 150px;
    height: 115px;
    top: 115px;
    right: 105px;
  }
  .department .inner article .right {
    width: 70%;
    padding: 20px 30px;
  }
  .department .inner article .right p {
    width: 80%;
  }
  .department .inner .division {
    width: 100%;
    padding: 60px 0 0;
  }
  .department .inner .division .div-tree .depth1 .ceo {
    width: 150px;
    height: 50px;
    border-radius: 0;
  }
  .department .inner .division .div-tree .depth1 .ceo::before {
    display: none;
  }
  .department .inner .division .div-tree .depth1 .ceo dl {
    font-size: 15px;
    line-height: 50px;
  }
  .department .inner .division .div-tree .depth2 {
    padding: 30px;
  }
  .department .inner .division .div-tree .depth2::before {
    display: none;
  }
  .department .inner .division .div-tree .depth2 ul {
    width: 47%;
  }
  .department .inner .division .div-tree .depth2 ul:nth-child(1), .department .inner .division .div-tree .depth2 ul:nth-child(3) {
    margin-right: 3%;
  }
  .department .inner .division .div-tree .depth2 ul:nth-child(2), .department .inner .division .div-tree .depth2 ul:nth-child(4) {
    margin: 0 3% 90px 0;
  }
  .department .inner .division .div-tree .depth2 ul::before {
    display: none;
  }
  .department .inner .division .div-tree .depth2 ul li.manager {
    border: 1px solid #18278c;
  }
}
.location .sub-visual {
  background: url(../img/image48.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.location .inner h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #18278c;
  margin: 40px 20px;
}
.location .inner h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  margin: 0 0 20px;
}
.location .inner p {
  margin: 0 0 20px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #18278c;
  color: #333;
  line-height: 20px;
}
.location .inner article {
  padding: 70px 0 10px;
  box-sizing: border-box;
}
.location .inner article::after {
  content: "";
  display: block;
  clear: both;
}
.location .inner article .right {
  float: right;
  width: 40%;
  height: 560px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}
.location .inner article .right .address {
  position: absolute;
  top: 50px;
  right: 30px;
  text-align: right;
}
.location .inner article .right .address .img {
  width: 380px;
  height: 180px;
  margin: 0 0 160px;
  background-image: url(../img/image56.jpeg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.location .inner article .right .address p {
  padding: 0 0 10px;
  box-sizing: border-box;
  font-weight: 500;
  color: #18278c;
}
.location .inner article .left {
  float: left;
  width: 60%;
  height: 560px;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
}
.location .inner article .left h2 {
  color: #18278c;
}
.location .inner article .left h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin: 20px 0;
}
.location .inner article .left textarea,
.location .inner article .left input[type=text],
.location .inner article .left input[type=email] {
  width: 80%;
  border: none;
  border-bottom: 1px solid #cdcdcd;
}
.location .inner article .left input[type=submit] {
  display: block;
  position: absolute;
  bottom: 70px;
  right: 160px;
  width: 150px;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #18278c;
  background: #fff;
  border: none;
  border: 1px solid #18278c;
  cursor: pointer;
  transition: 0.5s;
}
.location .inner article .left input[type=submit]:hover {
  color: #fff;
  background: #18278c;
}
.location .inner .location {
  padding: 10px 0 40px;
  position: relative;
}
.location .inner .location::after {
  content: "";
  display: block;
  clear: both;
}
.location .inner .location #map {
  width: 55%;
  height: 500px;
  background: #000;
  margin: 20px;
  filter: saturate(5%);
}
.location .inner .location #map:hover {
  filter: saturate(100%);
}
.location .inner .location .traffic {
  position: absolute;
  top: 140px;
  left: 30px;
  z-index: 2;
  background: #fff;
  border-radius: 4px;
}
.location .inner .location .traffic li {
  float: left;
}
.location .inner .location .traffic li a {
  display: block;
  width: 90px;
  margin: 2px;
  padding: 8px;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #18278c;
  line-height: 20px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
}
.location .inner .location .traffic li.on a {
  background: #18278c;
  color: #fff;
}
.location .inner .location .branch {
  position: absolute;
  bottom: 60px;
  right: 0;
  margin-top: 20px;
}
.location .inner .location .branch li {
  float: left;
  margin-right: 10px;
}
.location .inner .location .branch li a {
  display: block;
  width: 100px;
  margin: 0 0 20px 50px;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #18278c;
  color: #fff;
  line-height: 20px;
  text-align: right;
  background: #fff;
  background: #18278c;
  border: 1px solid #18278c;
  transition: 0.5s;
}
.location .inner .location .branch li a:hover, .location .inner .location .branch li a.on {
  color: #fff;
  color: #18278c;
  background: #18278c;
  background: #fff;
}
.location .inner .location .branch li p {
  width: 150px;
  margin: 0 0 10px;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  color: #18278c;
  text-align: right;
}

.help .sub-visual {
  background: url(../img/image22.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.help .inner h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #18278c;
  margin: 40px 20px;
}
.help .inner h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  margin: 0 0 20px;
}
.help .inner p {
  margin: 0 0 20px;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  color: #18278c;
  color: #333;
  line-height: 20px;
}
.help .inner article {
  margin: 0 0 70px;
  box-sizing: border-box;
}
.help .inner article::after {
  content: "";
  display: block;
  clear: both;
}
.help .inner article .left {
  float: left;
  width: 580px;
  padding: 30px;
  box-sizing: border-box;
}
.help .inner article .left h2 {
  color: #18278c;
}
.help .inner article .left h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin: 20px 0;
}
.help .inner article .left .faq-img {
  margin: 30px 0 0;
  overflow: hidden;
}
.help .inner article .left .faq-img:hover .img {
  transform: scale(1.1);
}
.help .inner article .left .faq-img .img {
  width: 100%;
  height: 300px;
  background-image: url(../img/image4.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}
.help .inner article .right {
  float: right;
  padding: 30px 20px;
  box-sizing: border-box;
  width: 580px;
  position: relative;
}
.help .inner article .right dl {
  margin: 30px 0;
  border: 1px solid #cdcdcd;
}
.help .inner article .right dl dt {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #333;
  border-bottom: 1px solid #cdcdcd;
  cursor: pointer;
  position: relative;
}
.help .inner article .right dl dt::before {
  content: "+";
  padding: 15px 10px;
  box-sizing: border-box;
  font-size: 22px;
  color: #18278c;
}
.help .inner article .right dl dt > span {
  position: absolute;
  top: 18px;
  left: 60px;
}
.help .inner article .right dl dt:hover::before, .help .inner article .right dl dt.on::before {
  content: "-";
}
.help .inner article .right dl dd {
  width: 100%;
  padding: 20px 20px 20px 60px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #797979;
  line-height: 1.5em;
  border-bottom: 1px solid #cdcdcd;
  display: none;
}
.help .inner article .right dl dd:nth-of-type(1) {
  display: block;
}
.help .inner .support {
  width: 100%;
  padding: 10px 0 0;
}
.help .inner .support .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
.help .inner .support .inner article span {
  display: inline-block;
  margin: 0 10px 50px 0;
  font-size: 20px;
  font-weight: 500;
  color: #18278c;
}
.help .inner .support .inner article p {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}
.help .inner .subscribe {
  position: relative;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-image: url(../img/image9.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.help .inner .subscribe > .inner {
  width: 1180px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.help .inner .subscribe > .inner h2 {
  color: #fff;
}
.help .inner .subscribe > .inner input[type=email] {
  width: 380px;
  height: 30px;
  margin: 0 0 20px;
  border: 1px solid #18278c;
}
.help .inner .subscribe > .inner input[type=submit] {
  display: block;
  width: 80px;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #18278c;
  line-height: 30px;
  background: #fff;
  border: 1px solid #18278c;
  cursor: pointer;
  transition: 0.5s;
}
.help .inner .subscribe > .inner input[type=submit]:hover {
  color: #fff;
  background: #18278c;
}

#skipNavi li a {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #fff;
  font: bold 15px/40px "arial";
  color: #000;
  text-align: center;
  position: fixed;
  top: -40px;
  left: 0;
  z-index: 10;
}

#skipNavi li a.on {
  top: 0;
}

#header {
  width: 100%;
}
#header .header-upper {
  width: 100%;
}
#header .header-upper > .inner {
  width: 1180px;
  height: 36px;
  margin: 0 auto;
  position: relative;
  background-color: #18278c;
}
#header .header-upper > .inner a {
  display: inline-block;
  padding: 10px 0 10px 20px;
  box-sizing: border-box;
  font-family: "arial";
  font-size: 14px;
  color: #d0d3d4;
  letter-spacing: 1.5px;
  text-align: left;
}
#header .header-upper > .inner a:last-child {
  padding: 10px 0;
}
#header .header-lower {
  width: 100%;
  z-index: 2;
  position: relative;
}
#header .header-lower > .inner {
  width: 1180px;
  height: 160px;
  margin: 0 auto;
  position: relative;
}
#header .header-lower > .inner h1 {
  position: absolute;
  top: 100px;
  left: 10px;
}
#header .header-lower > .inner h1 a {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 33px;
  font-weight: 500;
  color: #18278c;
  letter-spacing: 0.25em;
}
#header .header-lower > .inner #gnb {
  position: absolute;
  bottom: 0;
  right: 0;
}
#header .header-lower > .inner #gnb::after {
  content: "";
  display: block;
  clear: both;
}
#header .header-lower > .inner #gnb > li {
  float: left;
}
#header .header-lower > .inner #gnb > li > a {
  display: block;
  padding: 0 40px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #18278c;
  line-height: 40px;
  letter-spacing: 0.15em;
  text-align: center;
}
#header .header-lower > .inner #gnb > li > a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #333;
}
#header .header-lower > .inner #gnb > li > a:hover::after, #header .header-lower > .inner #gnb > li > a.on::after {
  width: 25px;
  transition: 0.5s;
}
#header .header-lower > .inner #gnb > li .sub {
  position: absolute;
  width: 1180px;
  height: 358px;
  right: 0;
  top: 43px;
  font-size: 30px;
  background: #f8f8f8;
  display: none;
}
#header .header-lower > .inner #gnb > li .sub::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  position: absolute;
  top: 0;
  left: -100%;
}
#header .header-lower > .inner #gnb > li .sub::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  position: absolute;
  top: 0;
  right: -100%;
}
#header .header-lower > .inner #gnb > li .sub .left {
  width: 40%;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #366671;
  background: #b5c7c6;
  background: #f8f8f8;
  background: #efefef;
}
#header .header-lower > .inner #gnb > li .sub .left h2 {
  margin: 0 0 20px;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: palegoldenrod;
  color: #e6e5e3;
  color: #366671;
  color: #254c5f;
  color: #196383;
  color: #452d45;
  letter-spacing: 0.15em;
  text-align: right;
}
#header .header-lower > .inner #gnb > li .sub .left ul {
  text-align: right;
}
#header .header-lower > .inner #gnb > li .sub .left ul li {
  width: 170px;
}
#header .header-lower > .inner #gnb > li .sub .left ul li a {
  padding: 0 0 0 10px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #b5c7c6;
  color: #20404f;
  color: #2187a5;
  letter-spacing: 0.25em;
}
#header .header-lower > .inner #gnb > li .sub .left ul li a:hover {
  color: #196383;
}
#header .header-lower > .inner #gnb > li .sub .left ul li a:hover::before {
  display: inline-block;
}
#header .header-lower > .inner #gnb > li .sub .left ul li a::before {
  content: "";
  margin: 3px 10px 3px 0;
  width: 5px;
  height: 5px;
  background: #ba472e;
  display: none;
}
#header .header-lower > .inner #gnb > li .sub .right {
  width: 60%;
  height: 300px;
  padding: 30px 60px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
#header .header-lower > .inner #gnb > li .sub .right article h2 {
  font: bold 16px/1 "arial";
  color: #333;
  margin: 0 0 10px;
}
#header .header-lower > .inner #gnb > li .sub .right article p {
  font: 14px/1.2 "arial";
  color: #333;
}
#header .header-lower > .inner #gnb > li .sub .right article .right-img {
  width: 180px;
  height: 110px;
  position: absolute;
  top: 0;
  right: 70px;
  background: snow;
  background-image: url(../img/image41.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: 1s;
}
#header .header-lower > .inner #gnb > li .sub .right article .right-img.on {
  top: 70px;
  opacity: 1;
}
#header .header-lower > .inner .util {
  position: absolute;
  top: 0px;
  right: 5px;
}
#header .header-lower > .inner .util a {
  display: inline-block;
  padding: 7px;
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
}
#header .header-lower > .inner .util a span {
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  vertical-align: middle;
}
#header .header-lower > .inner .util a:hover {
  color: #000;
}

#visual {
  width: 100%;
  height: 700px;
  background-color: #eee;
}

#brand {
  width: 100%;
  padding: 100px 0;
}
#brand .inner {
  width: 1180px;
  margin: 0 auto;
  border: 1px solid #000;
  min-height: 500px;
}

#footer {
  width: 100%;
  padding: 40px 0 0;
  box-sizing: border-box;
  background-color: #f8f3f2;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner .footer-upper {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
}
#footer .inner .footer-upper .wrap {
  width: 100%;
}
#footer .inner .footer-upper .wrap::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner .footer-upper .wrap dl {
  float: left;
  width: 25%;
}
#footer .inner .footer-upper .wrap dl dt {
  margin-bottom: 10px;
}
#footer .inner .footer-upper .wrap dl dt a {
  font: bold 16px/1 "Josefin Sans";
  color: #18288d;
}
#footer .inner .footer-upper .wrap dl dd {
  margin-bottom: 5px;
}
#footer .inner .footer-upper .wrap dl dd a {
  font: 14px/1 "Lato";
  color: rgba(24, 40, 141, 0.6);
}
#footer .inner .footer-upper .wrap dl dd a:hover {
  color: #18288d;
}
#footer .inner .footer-lower {
  width: 100%;
  height: 80px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}
#footer .inner .footer-lower h1 {
  position: absolute;
  top: 10px;
  left: 10px;
}
#footer .inner .footer-lower h1 a {
  font: 28px/1 "Lato";
  color: #2c0e7c;
}
#footer .inner .footer-lower .contact {
  position: absolute;
  top: -30px;
  right: 40px;
  text-align: right;
}
#footer .inner .footer-lower .contact .footer-sns a {
  display: inline-block;
  font-size: 22px;
  color: #999;
  margin-bottom: 10px;
  margin-left: 12px;
}
#footer .inner .footer-lower .contact .footer-sns a:hover {
  color: #18278c;
}
#footer .inner .footer-lower .contact p {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #999;
}

@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
    height: 60px;
  }

  #header .inner h1 {
    left: 30px;
  }

  #header .inner .util {
    display: none;
  }

  #header .inner #gnb {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
