@charset 'UTF-8';

.community {
  .sub-visual {
    background: url(../img/image43.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
  }

  .inner {
    h1 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 21px;
      font-weight: 700;
      color: #18278c;
      margin: 40px 30px;
    }
    
    h2 {
      font-family: 'Noto Sans', sans-serif;
      font-size: 17px;
      font-weight: 600;
      color: #333;
      // opacity: 0.9;
      margin: 0 0 20px;
    }

    p {
      margin: 0 0 20px;
      font-family: 'Noto Sans', sans-serif;
      font-size: 15px;
      // font-weight: 700;
      color: #18278c;
      color: #333;
      // letter-spacing: 0.25em;
      line-height: 20px;
    }

    article {
      padding: 30px 0 70px 330px;
      box-sizing: border-box;
      position: relative;

      &::after {
        content: "";
        display: block;
        clear: both;
      }

      .event {
        float: left;
        width: 260px;
        margin: 20px 0 0 20px;
        border: 1px solid #cdcdcd;
        position: relative;
        overflow: hidden;

        &:last-child {
          margin-right: 0;
        }

        a {

          .img {
            width: 280px;
            height: 120px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            transition: 0.5s;
  
            &:hover {
              transform: translateX(-20px);
            }
          }
  
          .event1 {
            background-image: url(../img/image11.jpeg);
          }
          
          .event2 {
            background-image: url(../img/image15.jpeg);
          }
  
          .event3 {
            background-image: url(../img/image12.jpeg);
          }
        }

        .event-title {
          padding: 20px;
          box-sizing: border-box;

          strong {
            display: block;
            font-family: 'Noto Sans', sans-serif;
            font-size: 15px;
            color: #333;
          }

          span a {
            font-family: 'Noto Sans', sans-serif;
            font-size: 13px;
            font-weight: 500;
            color: #18278c;
          }
        }

        .event-info {
          padding: 20px;
          box-sizing: border-box;
          font-family: 'Noto Sans', sans-serif;
          font-size: 12px;
          color: #333;

          .info-tit{
            display: inline-block;
            width: 52px;
            color: #555;
          }
        }
      }
    }

    .sub-menu {
      padding: 10px;
      box-sizing: border-box;

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      li {
        float: right;
        padding: 10px 20px;
        box-sizing: border-box;

        a {
          font-size: 14px;
          font-weight: 600;
          color: #18278c;
        
          &:hover {
            font-weight: 700;
          }
        }
      }
    }

    table {
      width: 100%;
      margin-bottom: 60px;

      th {
        &:nth-child(1) {
          width: 10%;
        }
        &:nth-child(2) {
          width: 10%;
        }
        &:nth-child(3) {
          width: 60%;
        }
        &:nth-child(4) {
          width: 15%;
        }
        &:nth-child(5) {
          width: 5%;
        }
      }

      tr {
        border-bottom: 1px solid #ccc;

        &:last-child {
          border-bottom: 0;
        }

        &:hover td {
          background-color: #fff;
        }

        &:first-child:hover td {
          border-top: 1px solid #ccc;
        }

        &:last-child:hover td {
          border-bottom: 1px solid #ccc;
        }
      }

      td {
        padding: 20px 10px;
        box-sizing: border-box;
        text-align: center;
        background-color: #f9f9f9;
        font-size: 12px;
        font-family: 'Lato', sans-serif;

        &:nth-child(2) {
          span {
            padding: 4px 10px;
            box-sizing: border-box;
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 20px;
            color: #555;
          }

          .pre {
            background-color: rgba(24, 40, 141, 0.9);
            color: #fff;
          }
        }   
        
        &:nth-child(3) {
          text-align: left;

          a {
            font-size: 14px;
            color: #777;

            &:hover {
              color: #333;
            }
          } 
        }

        &:nth-child(5) {
          a {
            font-size: 18px;
            color: #777;

            &:hover {
              color: #555;
            }
          }
        }
      }
    }

    #pagination {
      width: 100%;
      text-align: center;
      font-size: 16px;

      .page-home {
        display: inline-block;
        width: 30px;
        height: 30px;
        color: #777;
      }

      .page-prev {
        display: inline-block;
        width: 30px;
        height: 30px;
        color: #555;
      }

      .numbers {
        display: inline-block;

        a {
          display: inline-block;
          width: 30px;
          height: 30px;
          padding: 10px;
          box-sizing: border-box;
          font-weight: 500;
          color: #18278c;

          &:hover {
            font-weight: 700;
          }
        }
      }

      .page-next {
        display: inline-block;
        width: 30px;
        height: 30px;
        color: #555;
      }

      .page-end {
        display: inline-block;
        width: 30px;
        height: 30px;
        color: #777;
      }
    }
  }
}

// tablet
@media screen and (max-width: 1179px) {
  .community {

    .inner {
      width: 100%;
      
      article {
        width: 90%;
        padding: 50px 0 120px;
        margin: 0 0 0 5%;
        display: flex;
        justify-content: center;
        align-content: flex-start;

        .event {
          margin: 0 7% 0 0;
  
          .event-title {
            padding: 2vh 2vw;

            span a {
              font-size: 12px;
            }
          }
  
          .event-info {
            padding: 2vh 2vw;
            line-height: 1.35em;
            
            li{
              &:nth-child(3) {
                display: none;
              }
            }
  
            .info-tit{
              display: block;
              margin: 2vh 0 1px;
              font-weight: 500;
            }
          }
        }
      }
  
      .sub-menu {
        position: relative;
        top: 0;
        right: 5vw;
      }
  
      table {
        width: 90%;
        margin-left: 5%;

        th {
          display: block;
        }
  
        td {
          padding: 17px 10px;

          &:nth-child(2) {
            display: none;
          }
  
          &:nth-child(5) {
            display: none;
          }
        }
      }

      #pagination {
        .numbers a:nth-child(n+6):nth-child(-n+10) {
          display: none;
        }
      }
    }
  }
}

// mobile 
@media screen and (max-width: 539px) {
  .community {

    .inner {
     
      article {
        width: 100%;
        padding: 1vh 1vw;
        margin: 0 0;

        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;

        .event {
          width: 280px;
          margin: 0 0 4vh;
  
          a {

            .img {
              width: 300px;
            }
          }

          .event-title {
            padding: 1vh 2vw;
          }
  
          .event-info {
            padding: 1vh 2vw;
            
            li{
              &:nth-child(2) {
                display: none;
              }
            }
  
            .info-tit{
              margin: 0;
            }
          }
        }
      }
  
      .sub-menu {
        right: 2vw;
        
        li {
          padding: 10px;

          a {
            font-size: 12px;
          }
        }
      }
  
       #pagination {
      .numbers a:nth-child(n+3):nth-child(-n+5) {
        display: none;
       }
     }
    }
  }
}