@charset "UTF-8";

.department {

  .sub-visual {
    background: url(../img/image7.jpeg);
    background-position: center;
    // background-attachment: fixed;
    background-size: cover;
  }

  .inner {

    h1 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 21px;
      font-weight: 700;
      color: #18278c;
      margin: 40px 20px;
    }
    
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 17px;
      font-weight: 600;
      color: #333;
      // opacity: 0.9;
      margin: 0 0 20px;
    }

    p {
      margin: 0 0 20px;
      font-family: 'Noto Sans', sans-serif;
      font-size: 15px;
      // font-weight: 700;
      color: #18278c;
      color: #333;
      // letter-spacing: 0.25em;
      line-height: 20px;
    }

    article {
      margin: 0 0 90px;
      box-sizing: border-box;

      &::after {
        content: "";
        display: block;
        clear: both;
      }

      .left {
        float: left;
        width: 580px;
        height: 275px;
        padding: 30px 20px;
        box-sizing: border-box;
        position: relative;

        .box {
          width: 270px;
          height: 170px;
          background: khaki;
          position: absolute;
          top: 50px;
          left: 175px;
          //opacity: 0.9;
          //z-index: 2;
          // border: 5px solid khaki
        }

        .box2 {
          width: 170px;
          height: 135px;
          background: darkslategrey;
          position: absolute;
          top: 125px;
          right: 65px;
          //z-index: 1;
          // opacity: 0.9;
          // background-image: url(../img/image5.jpeg);
          // background-position: center;
          // background-size: cover;
        }

        h2 {
          position: absolute;
          top: 30px;
          left: 140px;
          //z-index: 3;
        }
      }

      .right {
        float: right;
        width: 580px;
        //height: 270px;
        padding: 30px;
        box-sizing: border-box;

        h2 {
          color: #18278c;
        }
      }
    }

    .division {
      width: 100%;
      padding: 60px 0;

      .div-tree {
        position: relative;
        text-align: center;

        .depth1 {
          position: relative;
          padding: 30px 0;
          box-sizing: border-box;

          .ceo {
            width: 130px;
            height: 130px;
            margin: 0 auto;
            border: 1px solid #18278c;
            border-radius: 50%;

            &::before {
              content: "";
              display: block;
              width: 1px;
              height: 50px;
              position: absolute;
              top: 162px;
              left: 50%;
              transform: translateX(-50%);
              background: #18278c;
            }

            dl {
              font-family: 'Montserrat', sans-serif;
              font-size: 13px;
              font-weight: 700;
              color: #18278c;
              line-height: 130px;

              dd {
                line-height: 1;
              }
            }
          }
        }

        .depth2 {
          position: relative;
          padding: 20px;
          box-sizing: border-box;

          &::before {
            content: "";
            display: block;
            width: 870px;
            height: 1px;
            position: absolute;
            top: 20px;
            left: 155px;
            background: #18278c;
          }

          &::after {
            content: "";
            display: block;
            clear: both;
          }

          ul {
            float: left;
            width: 270px;
            margin-right: 20px;

            &:last-child {
              margin-right: 0;
            }

            &::before {
              content: "";
              display: block;
              width: 1px;
              height: 35px;
              margin: 0 auto;
              background: #18278c;
            }

            li {
              width: 80%;
              margin: 10px auto;
              text-align: left;
              border-bottom: 1px solid #18278c;
              
              span {
                font-family: 'Noto Sans', sans-serif;
                font-size: 12px;
                color: #18278c;
                line-height: 30px;
              }

              strong {
                display: block;
                font-family: 'Noto Sans', sans-serif;
                font-size: 11px;
                color: #18278c;
                line-height: 30px;
                text-align: right;
              }

              &:first-child {
                width: 100%;
                margin: 0 0 20px;
                font-weight: 600;
                color: #18278c;
                line-height: 50px;
                text-align: center;
                border: none;
              }
            }
          }
        }
      }
    }
  }
}

// tablet
@media screen and (max-width: 1179px) {

  .department {
  
    .inner {
      width: 100%;

      article {

        .left {
          //margin-left: 10px;

          .box {
            width: 220px;
            height: 150px;
          }
  
          .box2 {
            width: 150px;
            height: 115px;
            top: 115px;
            right: 105px;
          }
        }
  
        .right {
          width: 70%;
          padding: 20px 30px;
         //  margin-left: 45px;

          p {
            width: 80%;
          }
        }
      }
  
      .division {
        width: 100%;
        padding: 60px 0 0;
  
        .div-tree {

          .depth1 {

            .ceo {
              width: 150px;
              height: 50px;
              border-radius: 0;
  
              &::before {
                display: none;
              }
  
              dl {
                font-size: 15px;
                line-height: 50px;
              }
            }
          }
  
          .depth2 {
            padding: 30px;

            &::before {
              display: none;
            }
  
            ul {
              width: 47%;
  
              &:nth-child(1),
              &:nth-child(3) {
                margin-right: 3%;
              }

              &:nth-child(2),
              &:nth-child(4) {
                margin: 0 3% 90px 0;
              }
  
              &::before {
                display: none;
              }
  
              li {

                &.manager {
                  border: 1px solid #18278c;
                }
              }
            }
          }
        }
      }
    }
  } 
}

// mobile {
  @media screen and (max-width: 539px) {

    .department {
    
      .inner {

        article {
  
          .left {
           
            .box {
              width: 180px;
              height: 120px;
              position: absolute;
              top: 50px;
              left: 75px;
            }
    
            .box2 {
              width: 110px;
              height: 85px;
              top: 105px;
              left: 185px;
            }

            h2 {
              position: absolute;
              left: 40px;
            }
          }
    
          .right {
            width: 90%;
            padding: 20px 10px;
  
            p {
              width: 80%;
            }
          }
        }
    
        .division {
          width: 100%;
          padding: 20px 0 0;
    
          .div-tree {
  
            .depth1 {
  
              .ceo {
                width: 50%;
                height: 40px;

                dl {
                  font-size: 13px;
                  line-height: 40px;
                  background: #18278c;
                  color: #fff;
                }
              }
            }
    
            .depth2 {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              padding: 20px;

              ul {
                width: 85%;
                
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                  margin: 0 0 4vh;
                }
                &:last-child {
                  margin: 0;
                }
    
                li {
                  display: flex;
                  justify-content: space-around;
  
                  &.manager {
                    font-size: 13px;
                    line-height: 40px;
                    background: #18278c;
                  color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    } 
  }
