
.gallery {
  
  .sub-visual {
    background: url(../img/image45.jpeg);
    background-position: center ;
    background-size: cover;
  }

  >.inner {


    h1 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #18278c;
      margin: 40px 20px;
    }
    
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      color: #18278c;
      margin: 0 0 20px;
    }

    p {
      margin: 0 0 20px;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      color: #333;
      line-height: 1.5em;
    }

    .process {
      display: flex;
      flex-direction: row;
      position: relative;

      .process-img {
        width: 60%;
        padding: 0 0 90px;
        box-sizing: border-box;
        transition: 0.5s;
        
        > .inner {
          
          ul {
            display: flex;
            justify-content: flex-start;
            align-content: space-around;
            flex-wrap: nowrap;
            
            li {                 
              flex: 1;
              position: relative;
              
              .img {
                height: 150px;
                margin: 0 10px 20px;
                background-position: center ;
                background-size: cover; 

                &.work1 {
                  background: url(../img/image59.jpeg);
                  background-position: center ;
                  background-size: cover;
                }
                &.work2 {
                  background: url(../img/image54.jpeg);
                  background-position: center ;
                  background-size: cover;
                }
                &.work3 {
                  background: url(../img/image55.jpeg);
                  background-position: center ;
                  background-size: cover;
                }
                &.work4 {
                  background: url(../img/image58.jpeg);
                  background-position: center top;
                  background-size: cover;
                }
              }
      
              h2 {
                font-family: 'Montserrat', sans-serif;
                font-size: 13px;
                font-weight: 500;
                text-align: center;
              }
      
              p {
                display: none;
              }

              a {
                display: block;
                position: absolute;
                top: 33%;
                left: 50%;
                transform: translateX(-50%);
                width: 100px;
                margin: 0 auto;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: 500;
                display: block;
                color: #333;
                background: #fff;
                text-align: center;
                line-height: 30px;
                display: none;
                transition: 1s;

                &:hover {
                  transition: 1s;
                  text-decoration: underline;
                }
              }
            }
          }
        }  
      }

      aside {
        width: 30%;
        height: 220px;
        position: absolute;
        top: 120px;
        right: -90px;
        opacity: 0;
        padding: 20px;
        box-sizing: border-box;
        transition: 1s;
    
        &.on {
          opacity: 1;
          right: 90px;
        }
    
        .txt {
          width: 100%;
          height: 100%;
    
          h2 {
            padding: 3px 7px;
            box-sizing: border-box;
            font-size: 14px;
            color: #1f618d;
          }
    
          p {
            padding: 0 7px;
            box-sizing: border-box;
            color: #777;
          }
    
          span {
            display: block;
            position: absolute;
            bottom: 20px;
            right: 30px;
            padding: 0 10px;
            box-sizing: border-box;
            cursor: pointer;
            font-size: 13px;
            font-weight: 600;
            color: #1f618d;
            text-align: right;
            text-decoration: underline;
          }
        }
      }
    }

    #search {
      width: 795px; 
      margin: 0 auto;
      z-index: 2;
  
      input[type=text] {
        width: 630px; 
        height: 40px; 
        background: #fff;
        border: 1px solid #a9cce3;
        margin-right: 14px;
        padding: 5px 10px;
        box-sizing: border-box;
        color: #2471a3;
  
        &::placeholder {
          color: #a9cce3;
        }
  
        &:focus {
          outline: 1px solid #2471a3;
        }
      }
  
      button {
        width: 144px; 
        height: 40px; 
        background: #2471a3; 
        font: bold 13px/40px "arial"; 
        color: #fff;
        text-align: center; 
        border: 1px solid #2471a3; 
        border-radius: 4px;
        cursor: pointer;
  
        &:hover {
          background: #1f618d ;
        }
      }
    }

    #wrap {
    
      #gallery {
        width: 100%; 
        padding: 90px 180px; 
        box-sizing: border-box; 
        opacity: 0;
        transform: translateY(200px);
        transition: 1s;
        background-color: #f8f9f9;
      
        &.on {
          opacity: 1; 
          transform: translateY(0px);
        }
      
        >ul {
          width: 100%;          
  
          &::after {
            content: ""; 
            display: block; 
            clear: both;
          }
  
          >li {
            width: 20%;  
            float: left; 
            overflow: hidden;
  
            .inner {
              width: 100%; 
              padding: 10px; 
              box-sizing: border-box; 
              position: relative;
  
              a {
                display: block; 
    
                img {
                  width: 100%;
                  height: 140px;
                  object-fit: cover;
                }
              }
      
              p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font: bold 13px/1 "Lato"; 
                color: #154360; 
                opacity: 0;
                transition: 0.8s;
              }
              
              &:hover {
                >a {
                  opacity: 0.3;
                }

                p {  
                  opacity: 1;
                }
              }
            }
          }
        }    
      }
    }
  }
}

// tablet
@media screen and (max-width: 1179px) {
  .gallery {
  
    .sub-visual {
      background: url(../img/image5.jpeg);
      background-position: center ;
      background-size: cover;
    }
  
    >.inner {
      
      width: 100%;

      h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 21px;
        font-weight: 700;
        color: #18278c;
        margin: 40px 20px;
      }
      
      h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-weight: 600;
        color: #333;
        margin: 0 0 20px;
      }
  
      p {
        margin: 0 0 20px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 14px;
        color: #333;
        line-height: 20px;
      }
  
      .process {
        display: flex;
        flex-direction: row;
        position: relative;
  
        .process-img {
          width: 60%;
          padding: 0 0 90px;
          box-sizing: border-box;
          transition: 0.5s;
          
          > .inner {
            
            ul {
              display: flex;
              justify-content: flex-start;
              align-content: space-around;
              flex-wrap: nowrap;
              
              li {                 
                flex: 1;
                position: relative;
                
                .img {
                  height: 150px;
                  margin: 0 10px 20px;
                  background-position: center ;
                  background-size: cover; 
  
                  &.work1 {
                    background: url(../img/image59.jpeg);
                    background-position: center ;
                    background-size: cover;
                  }
                  &.work2 {
                    background: url(../img/image54.jpeg);
                    background-position: center ;
                    background-size: cover;
                  }
                  &.work3 {
                    background: url(../img/image55.jpeg);
                    background-position: center ;
                    background-size: cover;
                  }
                  &.work4 {
                    background: url(../img/image58.jpeg);
                    background-position: center top;
                    background-size: cover;
                  }
                }
        
                h2 {
                  font-family: 'Montserrat', sans-serif;
                  font-size: 13px;
                  font-weight: 500;
                  text-align: center;
                }
        
                p {
                  display: none;
                }
  
                a {
                  display: block;
                  position: absolute;
                  top: 33%;
                  left: 50%;
                  transform: translateX(-50%);
                  width: 100px;
                  margin: 0 auto;
                  font-family: 'Montserrat', sans-serif;
                  font-size: 14px;
                  font-weight: 500;
                  display: block;
                  color: #333;
                  background: #fff;
                  text-align: center;
                  line-height: 30px;
                  display: none;
                  transition: 1s;
  
                  &:hover {
                    transition: 1s;
                    text-decoration: underline;
                  }
                }
              }
            }
          }  
        }
  
        aside {
          width: 30%;
          height: 220px;
          position: absolute;
          top: 120px;
          right: -90px;
          opacity: 0;
          padding: 20px;
          box-sizing: border-box;
          transition: 1s;
      
          &.on {
            opacity: 1;
            right: 90px;
          }
      
          .txt {
            width: 100%;
            height: 100%;
      
            h2 {
              padding: 3px 7px;
              box-sizing: border-box;
              font-size: 14px;
              color: #1f618d;
            }
      
            p {
              padding: 0 7px;
              box-sizing: border-box;
              color: #777;
            }
      
            span {
              display: block;
              position: absolute;
              bottom: 20px;
              right: 30px;
              padding: 0 10px;
              box-sizing: border-box;
              cursor: pointer;
              font-size: 13px;
              font-weight: 600;
              color: #1f618d;
              text-align: right;
              text-decoration: underline;
            }
          }
        }
      }
  
      #search {
        width: 795px; 
        margin: 0 auto;
        z-index: 2;
    
        input[type=text] {
          width: 630px; 
          height: 40px; 
          background: #fff;
          border: 1px solid #a9cce3;
          margin-right: 14px;
          padding: 5px 10px;
          box-sizing: border-box;
          color: #2471a3;
    
          &::placeholder {
            color: #a9cce3;
          }
    
          &:focus {
            outline: 1px solid #2471a3;
          }
        }
    
        button {
          width: 144px; 
          height: 40px; 
          background: #2471a3; 
          font: bold 13px/40px "arial"; 
          color: #fff;
          text-align: center; 
          border: 1px solid #2471a3; 
          border-radius: 4px;
          cursor: pointer;
    
          &:hover {
            background: #1f618d ;
          }
        }
      }
  
      #wrap {
      
        #gallery {
          width: 100%; 
          padding: 90px 180px; 
          box-sizing: border-box; 
          opacity: 0;
          transform: translateY(200px);
          transition: 1s;
          background: #f8f9f9;
        
          &.on {
            opacity: 1; 
            transform: translateY(0px);
          }
        
          >ul {
            width: 100%;          
    
            &::after {
              content: ""; 
              display: block; 
              clear: both;
            }
    
            >li {
              width: 20%;  
              float: left; 
              overflow: hidden;
    
              .inner {
                width: 100%; 
                padding: 10px; 
                box-sizing: border-box; 
                position: relative;
    
                a {
                  display: block; 
      
                  img {
                    width: 100%;
                    height: 140px;
                    object-fit: cover;
                  }
                }
        
                p {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  font: bold 13px/1 "Lato"; 
                  color: #154360; 
                  opacity: 0;
                  transition: 0.8s;
                }
                
                &:hover {
                  >a {
                    opacity: 0.3;
                  }
  
                  p {  
                    opacity: 1;
                  }
                }
              }
            }
          }    
        }
      }
    }
  }
}

// mobile

@media screen and (max-width: 539px) {
  
}

