@charset "UTF-8";

#header {
  width: 100%;

  .header-upper {
    width: 100%;

    > .inner {
      width: 1180px;
      height: 36px;
      margin: 0 auto;
      position: relative;
      background-color: #18278c; 

      a {
        display: inline-block;
        padding: 10px 0 10px 20px;
        box-sizing: border-box;
        font-family: 'arial';
        font-size: 12px;
        color: #d0d3d4;
        letter-spacing: 1.5px;
        text-align: left;

        &:last-child {
          padding: 10px 0;
        }
      }
    }
  }

  .header-lower {
    width: 100%;
    z-index: 2;

    > .inner {
      width: 1180px;
      height: 160px;
      margin: 0 auto;
      position: relative;

      h1 {
        position: absolute; 
        top: 100px;
        left: 10px;
        
        a {
          display: block;
          padding: 10px;
          box-sizing: border-box;
          font-family: 'Josefin Sans', sans-serif;
          font-size: 33px;
          font-weight: 500;  
          color: #18278c;
          letter-spacing: 0.25em;
        }
      }

      #gnb { 
        position: absolute; 
        bottom: 0; 
        right: 0; 
        
        &::after {
          content: '';
          display: block;
          clear: both;
        }

        > li { // 1depth
          float: left;

          > a {
            display: block;
            padding: 0 40px;
            box-sizing: border-box;
            font-family: 'Lato', sans-serif;
            font-size: 15px;
            font-weight: 600;
            color: #18278c;
            line-height: 40px;
            letter-spacing: 0.15em;
            text-align: center;
            
            &::after {
              content: "";
              display: block;
              width: 0;
              height: 2px;
              background: #333;
            }

            &:hover::after, &.on::after { 
              width: 25px;
              transition: 0.5s;
            }
          }

          .sub { // 2depth
            position: absolute; 
            width: 1180px;     
            height: 358px;                
            right: 0;
            top: 43px;     
            font-size: 30px;
            background: #f8f8f8; 
            display: none;

            &::before {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              background:#f8f8f8;
              position: absolute;                      
              top: 0;    
              left: -100%;
            }

            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              background: #f8f8f8;
              position: absolute;
              top: 0;               
              right: -100%;                 
            }
            
            .left {                       
              width: 40%;
              height: 300px;
              padding: 20px;
              box-sizing: border-box;
              position: absolute;
              left: 0;
              top: 0;
              background: #efefef;

              h2 {
                position: absolute;
                bottom: 70px;
                left: 80px;
                font-family: 'Lato', sans-serif;
                font-size: 15px;
                font-weight: 700;  
                color: #000;
                letter-spacing: 0.15em;
              }

              .left-img {
                width: 250px;
                height: 140px;
                position: absolute;
                top: 0;
                left: 80px;
                background: palegoldenrod;
                background-image: url(../img/image61.jpeg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                opacity: 0;
                transition: 1s;

                &.on {
                  top: 40px;
                  opacity: 1;
                }
              }

              p {
                position: absolute;
                bottom: 50px;
                left: 80px;
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                font-weight: 500; 
                color: #333;
              }
            }

            .right {
              width: 60%;
              height: 300px;
              padding: 10px;
              box-sizing: border-box;
              position: absolute;
              right: 0;
              top: 0;
              background:#fff;
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              align-content: flex-start;
              flex-wrap: wrap;

              p {
                width: 100%;
                padding: 0 40px 10px;
                box-sizing: border-box;
                font-size: 22px;
                text-align: right;
              }

              ul {
                padding: 15px 0 0;
                box-sizing: border-box;
                text-align: right;

                li {

                  a {
                    padding: 10px 5px;
                    box-sizing: border-box;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 14px;
                    color: #777;

                    &:hover {
                      color: #333;
                      text-decoration: underline;
                      text-decoration-color: #08a9cc;
                      text-decoration-thickness: 2px;
                    }
                  }                  
                }
              }
            }
          }
        }
      }

      // .btnCall {
      //   position: absolute;
      //   right: 1vw;
      //   top: 3vh;
      //   transform: translateY(-50%);
      //   z-index: 4;

      //   .fa-bars {
      //     font-size: 20px;
      //     color: #08a9cc;
      //     display: none;
      //   }
      // }

      // .menuMo {
      //   position: fixed;
      //   left: -100%;
      //   top: 70px;
      //   width: 1180px;
      //   margin: 0 auto;
      //   height: 126px;
      //   background: #fff;
      //   transition: all 1s;
      //   display: none;
      //   z-index: 3;

      //   &.on {
      //     left: 50%;
      //     transform: translateX(-50%);
      //   }

      //   #gnbMo {
      //     display: flex;
      //     flex-wrap: wrap;

      //     li {
      //       width: 50%;
      //       padding: 11px;
      //       box-sizing: border-box;
      //       font: bold 12px/ 'arial';
      //       color: #888;
      //       text-align: center;

      //       a {
      //         padding: 11px 20px;
      //         box-sizing: border-box;
      //         color: #18278c;
      //         text-decoration: underline;
      //       }
      //     }
      //   }
      // }

      .util {
        position: absolute;
        top: 0px;
        right: 5px;

        a {
          display: inline-block;
          padding: 7px;
          box-sizing: border-box; 
          font-size: 16px;
          color: #555;

          span {
            display: inline-block;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 13px;
            font-weight: 600;
            color: #000;
            vertical-align: middle;
          }

          &:hover {
            color: #000;
          }
        }         
      }
    }
  }
}

.content {
  width: 100%;
  padding: 10px 0 100px;
  box-sizing: border-box;

  .sub-breadcrumb {
    width: 1180px;
    margin: 0 auto;
    padding: 50px 20px 10px;
    box-sizing: border-box;

    li {
      display: inline;

      a {
        font-family: "Lato";
        font-size: 14px;
        font-weight: 500;
        color: #000;
      }

      &+li::before {
        content: "/";
        padding: 10px 8px 10px 6px;
      }
    }
  }

  .sub-visual {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    height: 270px;
    margin: 0 0 20px;
    background: url(../img/image7.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

    .sub-content {
      position: absolute;
      // top: 50%;
      bottom: 60px;
      left: 50%;
      // transform: translate(-50%, -50%);
      transform: translateX(-50%);
      text-align: center;

      h1 {
        font-family: "Lato";
        font-size: 23px;
        font-weight: 600;
        letter-spacing: 0.15em; 
        color: #000;
        padding: 0 0 20px;
        box-sizing: border-box;
      }

      p {
        font-family: "Noto Sans";
        font-size: 14px;
        color: #555;
      }
    }
  }

  >.inner {
    width: 1180px;
    margin: 0 auto;
    min-height: 500px;
    padding: 100px 0 60px;
    box-sizing: border-box;

    .slash::after {
      content: "/";
      display: inline-block;
      margin: 0 0 10px 20px;
    }
  }
}

#footer {
  width: 100%;
  padding: 40px 0 0;
  box-sizing: border-box;      
  background-color: #f8f3f2;

  .inner {
    width: 1180px;
    margin: 0 auto;

    .footer-upper {
      width: 100%;
      margin-bottom: 30px;
      padding: 10px;
      box-sizing: border-box;
      text-align: left;

      .wrap {
        width: 100%;

        &::after {
          content: '';
          display: block;
          clear: both;
        }

        dl {
          float: left;
          width: 25%;
          
          dt {
            margin-bottom: 10px;
            
            a {
            font: bold 16px/1 'Josefin Sans';
            color: #18288d;
            } 
          }

          dd {
            margin-bottom: 5px;

            a {
            font: 14px/1 'Lato';
            color: rgba(24, 40, 141, 0.6);

            &:hover {
                color: #18288d;
              }
            }
          } 
        }
      }
    }

    .footer-lower {
      width: 100%;
      height: 80px;
      padding: 10px;
      box-sizing: border-box;
      position: relative;

      h1 {
        position: absolute;
        top: 10px;
        left: 10px;
        
        a {
          font: 28px/1 'Lato'; 
          color: #2c0e7c;         
        }
      }

      .contact {
        position: absolute;
        top: -30px;
        right: 40px;
        text-align: right;

        .footer-sns a {
          display: inline-block;
          font-size: 22px;
          color: #999;
          margin-bottom: 10px;
          margin-left: 12px; 

          &:hover {
            color: #18278c;
          }
        }

        p {
          font-size: 14px;
          font-family: 'Lato', sans-serif;
          color: #999; 
        }
      }
    }
  }
}

// tablet
// @media screen and (max-width: 1179px) {

//   #header {

//     .inner {
//       width: 100%;

//       #gnb {
//         display: none;
//       }

//       .btnCall {
//         .fa-bars {
//           display: block;
//         }
//       }

//       .util {
//         display: none;
//       }
//     }
//   }
// }
