@charset "UTF-8";

.youtube {
  .sub-visual {
    background: url(../img/image46.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-attachment: fixed;
  }
  
  .inner {

    h1 {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 21px;
      font-weight: 700;
      color: #18278c;
      margin: 40px 20px;
    }
    
    h2 {
      font-family: 'Noto Sans', sans-serif;
      font-size: 17px;
      font-weight: 600;
      color: #333;
      // opacity: 0.9;
      margin: 0 0 20px;
    }

    p {
      margin: 0 0 20px;
      font-family: 'Noto Sans', sans-serif;
      font-size: 15px;
      // font-weight: 700;
      color: #18278c;
      color: #333;
      // letter-spacing: 0.25em;
      line-height: 20px;
    }

    .thumbnail {
      padding: 80px 0;

      .thumbnail-vid {
        .inner {
          display: flex;
          border: 1px solid teal;
  
          figure {
            flex: 2;
            padding: 50px;
            box-sizing: border-box;
            border: 1px solid orange;
          }
  
          .txt {
            flex: 1;
            padding: 30px;
            box-sizing: border-box;
  
            h2 {
              margin: 0 0 70px;
              color: dodgerblue;
              text-align: left;
            }
  
            p {
              padding: 10px 0;
              box-sizing: border-box;
              text-align: right;
              border-bottom: 1px solid dodgerblue;
            }
  
            span {
              padding: 0 20px;
            }
          }
        }
      }
    }

    #vidGallery {
      width: 100%;

      &::after {
        content: "";
        display: block;
        clear: both;
      }

      article {
        float: left;
        width: 380px;
        border-bottom: 1px solid #eee;
        box-sizing: border-box;
        margin-right: 20px;
        padding: 30px 30px 100px;
        position: relative;
    
        &:nth-child(3n) {
          margin-right: 0;
        }

        &::after {
          content: "";
          display: block;
          clear: both;
        }
    
        .pic {
          display: block;
          width: 100%;
          height: 180px;
          background-size: cover;
          background-position: center;
          margin-bottom: 20px;
        }

        .con {
          box-sizing: border-box;
          padding-left: 20px;

          &::before {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: rgba(44, 14, 124, 1);
            margin-bottom: 20px;
          }
         
          h2 {
            font: bold 13px/1 "Lato";
            color: #1c4662;
            letter-spacing: 1.1px;
            margin-bottom: 20px;
          }
          p {
            font: 11px/1 "Lato";
            color: rgba(28, 70, 98, 0.8);
            letter-spacing: 1.1px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

// tablet
@media screen and (max-width: 1179px) {
  .youtube {

    .inner {
      width: 100%;

      #vidGallery {
        display: flex;
        justify-content: space-evenly;
        align-content: space-between;
        flex-wrap: wrap;

        article {
          border-bottom: none;
          margin: 0 auto;
          width: 45%;

          .pic {
            width: 90%;
            height: 160px;
            margin: 0 auto 10px;
          }

          .con {
            width: 80%;
            padding: 10px 15px;

            h2 {
              font-size: 17px;
            }

            p {
              font-size: 14px;
              font-weight: 600;
            }
          }

          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: 859px) {
  .youtube {

    .inner {

      #vidGallery {

        article {
          width: 100%;
          display: flex;

          .pic {
            margin: 0 20px 0 0;
          }

          .con {
            width: 60%;

            h2 {
              font-size: 15px;
            }

            p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
