@charset "UTF-8";
@import "reset";
@import "sub_layout";
@import "community";
@import "youtube";
@import "gallery";
@import "join";
@import "department";
@import "location";
@import "help";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&family=Nanum+Gothic&family=Montserrat&family=Noto+Sans+KRdisplay=swap');

body {
  width: 100%;
  overflow-x: hidden;
}

#skipNavi li a {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #fff;
  font: bold 15px/40px 'arial';
  color: #000;
  text-align: center;
  position: fixed;
  top: -40px;
  left: 0;
  z-index: 10;
}

#skipNavi li a.on {
  top: 0;
}

#header {
  width: 100%;

  .header-upper {
    width: 100%;

    > .inner {
      width: 1180px;
      height: 36px;
      margin: 0 auto;
      position: relative;
      background-color: #18278c; 

      a {
        display: inline-block;
        padding: 10px 0 10px 20px;
        box-sizing: border-box;
        font-family: 'arial';
        font-size: 14px;
        color: #d0d3d4;
        letter-spacing: 1.5px;
        text-align: left;

        &:last-child {
          padding: 10px 0;
        }
      }
    }
  }

  .header-lower {
    width: 100%;
    z-index: 2;
    position: relative;

    > .inner {
      width: 1180px;
      height: 160px;
      margin: 0 auto;
      position: relative;

      h1 {
        position: absolute; 
        top: 100px;
        left: 10px;
        
        a {
          display: block;
          padding: 10px;
          box-sizing: border-box;
          font-family: 'Josefin Sans', sans-serif;
          font-size: 33px;
          font-weight: 600;  
          color: #18278c;
          letter-spacing: 0.25em;
        }
      }

      #gnb { 
        position: absolute; 
        bottom: 0; 
        right: 0; 

        
        &::after {
          content: '';
          display: block;
          clear: both;
        }

        > li { // 1depth
          float: left;

          > a {
            display: block;
            padding: 0 40px;
            box-sizing: border-box;
            font-family: 'Lato', sans-serif;
            font-size: 15px;
            font-weight: 600;
            color: #18278c;
            line-height: 40px;
            letter-spacing: 0.15em;
            text-align: center;
            
            &::after {
              content: "";
              display: block;
              width: 0;
              height: 2px;
              background: #333;
            }

            &:hover::after, &.on::after { 
              width: 25px;
              transition: 0.5s;
            }
          }

          .sub { // 2depth
            position: absolute; 
            width: 1180px;     
            height: 358px;                
            right: 0;
            top: 43px;     
            font-size: 30px;
            background: #f8f8f8; 
            display: none;

            &::before {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              background:#f8f8f8;
              position: absolute;                      
              top: 0;    
              left: -100%;
            }

            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              background: #f8f8f8;
              position: absolute;
              top: 0;               
              right: -100%;                 
            }
            
            .left {                       
              width: 40%;
              height: 300px;
              padding: 20px;
              box-sizing: border-box;
              position: absolute;
              left: 0;
              top: 0;
              background: #efefef;

              h2 {
                position: absolute;
                bottom: 70px;
                left: 80px;
                font-family: 'Lato', sans-serif;
                font-size: 15px;
                font-weight: 700;  
                color: #000;
                letter-spacing: 0.15em;
              }

              article {
                .left-img {
                  width: 250px;
                  height: 140px;
                  position: absolute;
                  // top: 0;
                  top: 40px;
                  left: 80px;
                  background: #efefef;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  // opacity: 0;
                  transition: 1s;
  
                  // &.on {
                  //   top: 40px;
                  //   opacity: 1;
                  // }
                  &.img1 {
                    background-image: url(../img/image35.jpeg);
                  }
                  &.img2 {
                    background-image: url(../img/image31.jpeg);
                  }
                  &.img3 {
                    background-image: url(../img/image42.jpeg);
                    background-position: center bottom;
                  }
                  &.img4 {
                    background-image: url(../img/image49.jpeg);
                    background-position: center bottom;
                  }
                  &.img5 {
                    background-image: url(../img/image41.jpeg);
                  }
                }
  
                p {
                  position: absolute;
                  bottom: 50px;
                  left: 80px;
                  font-family: 'Lato', sans-serif;
                  font-size: 14px;
                  font-weight: 500; 
                  color: #333;
                }
              }
            }

            .right {
              width: 60%;
              height: 300px;
              padding: 10px;
              box-sizing: border-box;
              position: absolute;
              right: 0;
              top: 0;
              background:#fff;
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              align-content: flex-start;
              flex-wrap: wrap;

              p {
                width: 100%;
                padding: 0 40px 10px;
                box-sizing: border-box;
                font-size: 22px;
                text-align: right;
              }

              ul {
                padding: 15px 0 0;
                box-sizing: border-box;
                text-align: right;

                li {

                  a {
                    padding: 10px 5px;
                    box-sizing: border-box;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 14px;
                    color: #777;
                    //transition: 0.5s;

                    &:hover {
                      color: #333;
                      text-decoration: underline;
                      text-decoration-color: #08a9cc;
                      text-decoration-thickness: 2px;
                    }
                  }                  
                }
              }
            }
          }
        }
      }

      .btnCall {
        position: absolute;
        right: 2vw;
        bottom: 2vh;
        z-index: 4;
        color: #777;

        &:hover {
          color: #333;
        }

        span {
          padding: 0 1vw 0 0;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          font-weight: 500;
          display: none;
        }

        .fa-bars {
          font-size: 19px;
          display: none;
        }
      }

      .menuMo {
        position: absolute;
        left: -100%;
        left: 0;
        top: 160px;    
        //top: -100%;
        width: 100%;
        height: 289px;
        height: 0;
        background: #dfe6e8;
        transition: all 0.8s;
        display: none;
        z-index: 3;
        opacity: 0;

        &.on {
          left: 0;
          //top: 160px;
          height: 289px;
          opacity: 1;
        }

        #gnbMo {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          flex-wrap: wrap;
          padding: 5vh 0;

          box-sizing: border-box;
          transition: 3s;

          li {
            text-align: center;
            // padding: 0 7vw 0 0;
            position: relative;
            transition: 0.8s;

            a {
              padding: 1vw 6vw;
              box-sizing: border-box;
              font-family: 'Lato Sans', sans-serif;
              font-size: 13px;
              font-weight: 600;
              color: #1b6dc1;
              letter-spacing: 0.15em;
              line-height: 40px;

              &::after {
                content: "";
                display: block;
                width: 30vw;
                height: 1px;
                background: ivory;
                position: absolute;
                left: 34vw;
              }

              &:hover {
                color: #1f618d;
              }
            }
          }
        }
      }

      .util {
        position: absolute;
        top: 0px;
        right: 5px;

        a {
          display: inline-block;
          padding: 7px;
          box-sizing: border-box; 
          font-size: 16px;
          color: #777;

          &:hover {
            color: #555;
          }

          span {
            display: inline-block;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 13px;
            font-weight: 600;
            color: #777;
            vertical-align: middle;
         
            &:hover {
              color: #333;
            }
          }
        }         
      }
    }
  }
}

#visual {
  width: 100%;
  height: 700px;
  background-color: #f9f9f9;
}

#brand {
  width: 100%;
  padding: 100px 0;

  .inner {
    width: 1180px;
    margin: 0 auto;
    border: 1px solid #000;
    min-height: 500px;
  }
}

#footer {
  width: 100%;
  padding: 50px 20px 70px;
  background-color: #f3f3f3;

  .inner {
    width: 1180px;
    margin: 0 auto;

    h2 {
      margin: 0 0 30px 10px;

      a {
        display: block;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 25px;
        font-weight: 600;
        color: #18278c;
        letter-spacing: 0.25em;
      }
    }

    .wrap {
      width: 100%;
      padding: 0 10px;

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .contact {
        width: 40%;
        float: left;
        text-align: left;

        span {
          display: block;
          margin-bottom: 10px;
          font-family: 'Lato', sans-serif;
          font-size: 15px;
          font-weight: 600;
          color: #18288d;
        }

        p {
          margin-bottom: 5px;
          font-family: 'Lato', sans-serif;
          font-size: 14px;
          color: rgba(24, 40, 141, 0.6);
        }

        .footer-sns {
          text-align: left;

          a {
            display: inline-block;
            padding: 10px 15px 0 0; 
            font-size: 17px;
            color: rgba(24, 40, 141, 0.8);
            
            &:hover {
              color: rgba(24, 40, 141, 1);
            }
          }
        }
      }

      dl {
        float: left;
        width: 20%;
        text-align: right;
        
        dt {
          margin-bottom: 10px;
          
          a {
            font-family: 'Noto Sans', sans-serif;
            font-size: 15px;
            font-weight: 600;
            color: #18288d;
            // letter-spacing: 1;
          } 
        }

        dd {
          margin-bottom: 5px;

          a {
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #18288d;
            color: rgba(24, 40, 141, 0.7);

          &:hover {
            color: #18288d;
            }
          }
        }
      }
    }
  }
}

// tablet
@media screen and (max-width: 1179px) {

  #header {

    .header-upper {
      
      > .inner {
        width: 100%;
      }
    }

    .header-lower {
      > .inner {
        width: 100%;

        h1 {
          position: absolute; 
          left: 10px;
          
          a {
            display: block;
            padding: 10px;
            box-sizing: border-box;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 33px;
            font-weight: 500;  
            color: #18278c;
            letter-spacing: 0.25em;
          }
        }

        #gnb { 
          display: none;
        }
  
        .btnCall {
          
          span {
            display: inline-block;
          }
          .fa-bars {
            display: inline-block;
          }
        }
  
        .menuMo {
          display: block;
        }

        // .util {
         
        //   a {
        //     color: #18278c;

        //     span {         
        //       color: #18278c;    
        //     }
        //   }         
        // }
      }
    }
  }
}

// mobile
@media screen and (max-width: 539px) {

  #header {

    .header-upper {
      
      > .inner {
        width: 100%;
      }
    }

    .header-lower {
      > .inner {
        width: 100%;

        h1 {
          position: absolute; 
          left: 10px;
          
          a {
            display: block;
            padding: 10px;
            box-sizing: border-box;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 33px;
            font-weight: 500;  
            color: #18278c;
            letter-spacing: 0.25em;
          }
        }

        #gnb { 
          display: none;
        }
  
        .btnCall {
          
          span {
            display: none;
          }
          .fa-bars {
            display: inline-block;
          }
        }
  
        .menuMo {
          display: block;
        }
      }
    }
  }
} 
