@charset "UTF-8";
@import "reset";
@import "sub_layout";
@import "community";
@import "youtube";
@import "gallery";
@import "join";
@import "department";
@import "location";
@import "help";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&family=Nanum+Gothic&family=Montserrat&family=Noto+Sans+KRdisplay=swap');

body {
  width: 100%;
  overflow-x: hidden;
}

#skipNavi li a {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #fff;
  font: bold 15px/40px 'arial';
  color: #000;
  text-align: center;
  position: fixed;
  top: -40px;
  left: 0;
  z-index: 10;
}

#skipNavi li a.on {
  top: 0;
}

#header {
  width: 100%;

  .header-upper {
    width: 100%;

    > .inner {
      width: 1180px;
      height: 36px;
      margin: 0 auto;
      position: relative;
      background-color: #18278c; 

      a {
        display: inline-block;
        padding: 10px 0 10px 20px;
        box-sizing: border-box;
        font-family: 'arial';
        font-size: 14px;
        color: #d0d3d4;
        letter-spacing: 1.5px;
        text-align: left;

        &:last-child {
          padding: 10px 0;
        }
      }
    }
  }

  .header-lower {
    width: 100%;
    z-index: 2;
    position: relative;

    > .inner {
      width: 1180px;
      height: 160px;
      margin: 0 auto;
      position: relative;

      h1 {
        position: absolute; 
        top: 100px;
        left: 10px;
        
        a {
          display: block;
          padding: 10px;
          box-sizing: border-box;
          font-family: 'Josefin Sans', sans-serif;
          font-size: 33px;
          font-weight: 600;  
          color: #18278c;
          letter-spacing: 0.25em;
        }
      }

      #gnb { 
        position: absolute; 
        bottom: 0; 
        right: 0;
        z-index: 3;
        
        &::after {
          content: '';
          display: block;
          clear: both;
        }

        > li { // 1depth
          float: left;

          > a {
            display: block;
            padding: 0 40px;
            box-sizing: border-box;
            font-family: 'Lato', sans-serif;
            font-size: 15px;
            font-weight: 600;
            color: #18278c;
            line-height: 40px;
            letter-spacing: 0.15em;
            text-align: center;
            
            &::after {
              content: "";
              display: block;
              width: 0;
              height: 2px;
              background: #333;
            }

            &:hover::after, &.on::after { 
              width: 25px;
              transition: 0.5s;
            }
          }

          .sub { // 2depth
            position: absolute; 
            width: 1180px;     
            height: 358px;                
            right: 0;
            top: 43px;     
            font-size: 30px;
            background: #f8f8f8; 
            display: none;
            z-index: 2;

            &::before {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              background:#f8f8f8;
              position: absolute;                      
              top: 0;    
              left: -100%;
            }

            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              background: #f8f8f8;
              position: absolute;
              top: 0;               
              right: -100%;                 
            }
            
            .left {                       
              width: 40%;
              height: 300px;
              padding: 20px;
              box-sizing: border-box;
              position: absolute;
              left: 0;
              top: 0;
              background: #efefef;

              h2 {
                position: absolute;
                bottom: 70px;
                left: 80px;
                font-family: 'Lato', sans-serif;
                font-size: 15px;
                font-weight: 700;  
                color: #000;
                letter-spacing: 0.15em;
              }

              article {
                .left-img {
                  width: 250px;
                  height: 140px;
                  position: absolute;
                  // top: 0;
                  top: 40px;
                  left: 80px;
                  background: #efefef;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  // opacity: 0;
                  transition: 1s;
  
                  // &.on {
                  //   top: 40px;
                  //   opacity: 1;
                  // }
                  &.img1 {
                    background-image: url(../img/image35.jpeg);
                  }
                  &.img2 {
                    background-image: url(../img/image31.jpeg);
                  }
                  &.img3 {
                    background-image: url(../img/image42.jpeg);
                    background-position: center bottom;
                  }
                  &.img4 {
                    background-image: url(../img/image49.jpeg);
                    background-position: center bottom;
                  }
                  &.img5 {
                    background-image: url(../img/image41.jpeg);
                  }
                }
  
                p {
                  position: absolute;
                  bottom: 50px;
                  left: 80px;
                  font-family: 'Lato', sans-serif;
                  font-size: 14px;
                  font-weight: 500; 
                  color: #333;
                }
              }
            }

            .right {
              width: 60%;
              height: 300px;
              padding: 10px;
              box-sizing: border-box;
              position: absolute;
              right: 0;
              top: 0;
              background:#fff;
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              align-content: flex-start;
              flex-wrap: wrap;

              p {
                width: 100%;
                padding: 0 40px 10px;
                box-sizing: border-box;
                font-size: 22px;
                text-align: right;
              }

              ul {
                padding: 15px 0 0;
                box-sizing: border-box;
                text-align: right;

                li {

                  a {
                    padding: 10px 5px;
                    box-sizing: border-box;
                    font-family: 'Noto Sans', sans-serif;
                    font-size: 14px;
                    color: #777;
                    //transition: 0.5s;

                    &:hover {
                      color: #333;
                      text-decoration: underline;
                      text-decoration-color: #08a9cc;
                      text-decoration-thickness: 2px;
                    }
                  }                  
                }
              }
            }
          }
        }
      }

      .btnCall {
        position: absolute;
        right: 2vw;
        bottom: 2vh;
        z-index: 4;
        color: #777;

        &:hover {
          color: #333;
        }

        span {
          padding: 0 1vw 0 0;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          font-weight: 500;
          display: none;
        }

        .fa-bars {
          font-size: 19px;
          display: none;
        }
      }

      .menuMo {
        position: absolute;
        left: -100%;
        left: 0;
        top: 160px;    
        //top: -100%;
        width: 100%;
        height: 289px;
        height: 0;
        background: #dfe6e8;
        transition: all 0.8s;
        display: none;
        z-index: 3;
        opacity: 0;

        &.on {
          left: 0;
          //top: 160px;
          height: 289px;
          opacity: 1;
        }

        #gnbMo {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          flex-wrap: wrap;
          padding: 5vh 0;

          box-sizing: border-box;
          transition: 3s;

          li {
            text-align: center;
            // padding: 0 7vw 0 0;
            position: relative;
            transition: 0.8s;

            a {
              padding: 1vw 6vw;
              box-sizing: border-box;
              font-family: 'Lato Sans', sans-serif;
              font-size: 13px;
              font-weight: 600;
              color: #1b6dc1;
              letter-spacing: 0.15em;
              line-height: 40px;

              &::after {
                content: "";
                display: block;
                width: 30vw;
                height: 1px;
                background: ivory;
                position: absolute;
                left: 34vw;
              }

              &:hover {
                color: #1f618d;
              }
            }
          }
        }
      }

      .util {
        position: absolute;
        top: 0px;
        right: 5px;

        a {
          display: inline-block;
          padding: 7px;
          box-sizing: border-box; 
          font-size: 16px;
          color: #777;

          &:hover {
            color: #555;
          }

          span {
            display: inline-block;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 13px;
            font-weight: 600;
            color: #777;
            vertical-align: middle;
         
            &:hover {
              color: #333;
            }
          }
        }         
      }
    }
  }
}

#visual {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: #fff;
  z-index: 1;

  section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0%;

    article {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 100%;
      overflow: hidden;

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        background: pink;
        transition: 1s cubic-bezier(.92,-1.46,.41,2.32) 1.4s;
      }

      &:nth-of-type(1) {
        &::before {background: #f7f7f7;}
      }
      &:nth-of-type(2) {
        &::before {background: #f7f7f7;}
      }
      &:nth-of-type(3) {
        &::before {background: #f7f7f7;}
      }

      ul {
        position: absolute; 
        top: 15%;
        left: 10%;
        transition: 0.5s ease 1.4s;
        transform-origin: left top;

        li {
          position: relative;
          margin-bottom: 5px;
          font-size: 0;
          padding: 5px 40px;
          padding: 10px 40px;
          display: inline-block;
          left: -150%;

          &:nth-of-type(1) {
            transition: 0.5s ease 0s;

            &::before {
              transition: 0.5s ease 0.6s
            }
          }

          &:nth-of-type(2) {
            transition: 0.5s ease 0.2s;

            &::before {
              transition: 0.5s ease 0.8s;
            }
          }

          &:nth-of-type(3) {
            transition: 0.5s ease 0.4s;

            &::before {
              transition: 0.5s ease 1.0s;
            }
          }

          &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: #111;
            background: #fff;
            position: absolute;
            top: 0px;
            left: -150%;
          }

          span {
            font: bold 9vw/1 "teko";
            font: bold 6vw/1 "Josefin Sans";
            color: #fff;
            color: #1f618d;
            position: relative;
            top: 10px;
          }
        }
      }

      &.on {

        &::before {
          width: 86%;
          height: 80%;
          top: 10%;
          left: 7%; //4-배경 pink박스를 축소
        }
        
        ul {
          transform: scale(0.7); //3- 전체 ul축소

          li {
            left: 0%; //1-먼저 li가 시간차로 원래 위치

            &::before {
              left: 0%; //2-텍스트 검정 배경이 시간차로 원래 위치
            }
          }
        }
      }
    }
  }

  .navi {
    position: absolute;
    bottom: 15vh;
    right: 10vw;
    z-index: 3;

    li {
      width: 12px;
      height: 12px;
      background: #85929E;
      border-radius: 50%;
      cursor: pointer;
      float: left;
      margin-left: 20px;
      transition: 0.5s; cursor: pointer;

      &.on {
        width: 70px;
        background: #34495E;
        border-radius: 0;
      }
    }
  }
}

#brand {
  width: 100%;
  padding: 70px 0;

  .inner {
    width: 1180px;
    margin: 0 auto;
    // border: 1px solid #000;
    min-height: 400px;
    padding: 5vh 8vw;
    box-sizing: border-box;

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    h1 {
      font-family: 'Noto Sans', sans-serif;
      font-size: 25px;
      color: rgba(24, 40, 141, 0.7);
      float: left;
      width: 60%;
    }

    .left {
      width: 48%;
      height: 30vh;
      float: left;
      margin-right: 2%;
      padding-top: 165px;

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      > article {
        float: left;
        width: 40%;
        margin-right: 3vw;
        // background-color: #08a9cc;

        h2 {
          font-family: 'Josefin Sans', sans-serif;
          font-size: 17px;
          color: #999;
          margin-bottom: 10px;
        }

        p {
          font-family: 'Josefin Sans', sans-serif;
          font-size: 15px;
          color: #555;
        }
      }
    }

    .right {
      width: 48%;
      height: 30vh;
      float: left;

      .brand-img {
        // width: 48%;
        height: 30vh;
        background: url(../img/image71.jpeg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        // background: #f9f9f9;
      }
    }
  }
}

#news {
  width: 100%;
  padding: 70px 0;

  .inner {
    width: 1180px;
    margin: 0 auto;
    // border: 1px solid #000;
    padding: 5vh 8vw;
    box-sizing: border-box;

    .news-img {
      width: 75%;
      height: 300px;
      background: url(../img/image72.jpeg);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: 70px;
    }

    .news-des {

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      > article {
        float: left;
        width: 25%;
        margin-right: 6%;

        h2 {
          font-family: 'Josefin Sans', sans-serif;
          font-size: 17px;
          color: #999;
          margin-bottom: 10px;
        }

        p {
          font-family: 'Josefin Sans', sans-serif;
          font-size: 15px;
          color: #555;
        }
      }
    }
  }
}

#tech{
  width: 100%;
  padding: 70px 0;

  .inner {
    width: 1180px;
    margin: 0 auto;
    // border: 1px solid #000;
    padding: 5vh 8vw;
    box-sizing: border-box;

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .tech-img {
      width: 48%;
      height: 400px;
      float: left;
      position: relative;

      .img1 {
        width: 220px;
        height: 250px;
        background: url(../img/image64.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 120px;
        left: 0;
      }

      .img2 {
        width: 220px;
        height: 250px;
        background: url(../img/image65.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 100px
      }
    }

    .tech-des {
      width: 48%;
      float: left;
      padding-top: 100px;

      h2 {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        color: #333;
        margin-bottom: 20px;
      }

      p {
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        color: #777;
        margin-bottom: 50px;
      }

      article.icon {
        float: left;
        width: 48%;
        
        i {
          
        }
      }
    }
  }
}

#intro {
  width: 100%;
  padding: 70px 0;

  .inner {
    width: 1180px;
    margin: 0 auto;
    // border: 1px solid #000;
    padding: 5vh 8vw;
    box-sizing: border-box;

    h2 {
      width: 35%;
      font-family: 'Noto Sans', sans-serif;
      font-size: 23px;
      color: #333;
      margin-bottom: 40px;
    }

    .intro-des {

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      > article {
        float: left;
        width: 30%;
        margin-right: 3%;

        p {
          font-family: 'Josefin Sans', sans-serif;
          font-size: 15px;
          color: #555;
        }
      }
    }
  }
}

#footer {
  width: 100%;
  padding: 50px 20px 70px;
  background-color: #f7f7f7;

  .inner {
    width: 1180px;
    margin: 0 auto;

    > h2 {
      margin: 0 0 30px 10px;

      a {
        display: block;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 25px;
        font-weight: 600;
        color: #18278c;
        letter-spacing: 0.25em;
      }
    }

    .wrap {
      width: 100%;
      padding: 0 10px;

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .contact {
        width: 40%;
        float: left;
        text-align: left;

        > span {
          display: block;
          margin-bottom: 10px;
          font-family: 'Montserrat', sans-serif;
          font-size: 13px;
          font-weight: 700;
          color: #18288d;
          letter-spacing: 0.1em;
        }

        > p {
          margin-bottom: 5px;
          font-family: 'Noto Sans', sans-serif;
          font-size: 12px;
          color: rgba(24, 40, 141, 0.7);
        }

        .footer-sns {
          text-align: left;

          a {
            display: inline-block;
            padding: 10px 15px 0 0; 
            font-size: 17px;
            color: rgba(24, 40, 141, 0.8);
            
            &:hover {
              color: rgba(24, 40, 141, 1);
            }
          }
        }
      }

      .footer-menu {
        float: right;
        width: 60%;

        &::after {
          content: '';
          display: block;
          clear: both;
        }

        dl {
          float: left;
          width: 30%;
          margin-right: 20px;
          text-align: right;

          &:last-child {
            margin-right: 0;
          }
          
          dt {
            margin-bottom: 10px;
            
            a {
              font-family: 'Montserrat', sans-serif;
              font-size: 14px;
              font-weight: 700;
              color: #18288d;
              letter-spacing: 0.1em;
            } 
          }
  
          dd {
            margin-bottom: 5px;
  
            a {
              font-family: 'Noto Sans', sans-serif;
              font-size: 13px;
              color: rgba(24, 40, 141, 0.7);
  
            &:hover {
              color: rgba(24, 40, 141, 1);
              }
            }
          }
        }
      }
    }
  }
}

// tablet
@media screen and (max-width: 1179px) {

  #header {

    .header-upper {
      
      > .inner {
        width: 100%;
      }
    }

    .header-lower {
      > .inner {
        width: 100%;

        h1 {
          position: absolute; 
          left: 10px;
          
          a {
            display: block;
            padding: 10px;
            box-sizing: border-box;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 33px;
            font-weight: 500;  
            color: #18278c;
            letter-spacing: 0.25em;
          }
        }

        #gnb { 
          display: none;
        }
  
        .btnCall {
          
          span {
            display: inline-block;
          }
          .fa-bars {
            display: inline-block;
          }
        }
  
        .menuMo {
          display: block;
        }

        // .util {
         
        //   a {
        //     color: #18278c;

        //     span {         
        //       color: #18278c;    
        //     }
        //   }         
        // }
      }
    }
  }

  #footer {

    .inner {
      width: 100%;

      .wrap {
        display: flex;
        flex-wrap: wrap;
  
        .contact {
          order: 2;
          width: 100%;
        }
  
        .footer-menu {
          order: 1;
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 30px;

          dl {
            display: flex;
            width: 100%;

            dt {
              margin-right: 20px;

              a {
                font-size: 13px;
              } 
            }
    
            dd {
              margin-right: 13px;
    
              a {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: 539px) {

  #header {

    .header-upper {
      
      > .inner {
        width: 100%;
      }
    }

    .header-lower {
      > .inner {
        width: 100%;

        h1 {
          position: absolute; 
          left: 10px;
          
          a {
            display: block;
            padding: 10px;
            box-sizing: border-box;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 33px;
            font-weight: 500;  
            color: #18278c;
            letter-spacing: 0.25em;
          }
        }

        #gnb { 
          display: none;
        }
  
        .btnCall {
          
          span {
            display: none;
          }
          .fa-bars {
            display: inline-block;
          }
        }
  
        .menuMo {
          display: block;
        }
      }
    }
  }

  #footer {
    padding: 40px 20px;

    .inner {

      > h2 {
        margin: 0 0 20px 10px;
  
        a {
          font-size: 22px;
        }
      }

      .wrap {

        .contact {

          > span {
            font-size: 12px;
          }
  
          > p {
            margin-bottom: 5px;
            font-size: 11px;
            line-height: 1.5em;
          }

          .footer-sns {

            a {
              font-size: 15px;
            }
          }
        }
  
        .footer-menu {
          margin-bottom: 40px;

          dl {
            flex-wrap: wrap;
            text-align: left;

            dt {
              width: 100%;
              margin-bottom: 3px;
              margin-top: 10px;

              a {
                font-size: 12px;
              } 
            }
    
            dd {
              
              a {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
}
